<header class="container-fluid fixed-top app_header"
  [class.app_header_shadow]="appHeaderShadow">
  <div class="app_header_left">
    <a routerLink="home">
      <img src="assets/images/logo-main-2x.svg" class="img-fluid app_logo" alt="Jocata Sumpoorn Logo" />
    </a>
  </div>
  <div class="app_header_right">
    <div class="header_links">
      <a routerLink="institution" routerLinkActive="active"  class="header_cta">Institution Login</a>
      <!-- <a routerLink="newsroom" routerLinkActive="active" class="header_page_link">Newsroom</a> -->
      <a routerLink="contact" routerLinkActive="active" class="header_page_link">Contact</a>
    </div>
    <ul class="nav nav-underline" [class.responsive_menu]="isResponsive">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="index">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="methodology">Methodology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="roadmap">Roadmap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="newsroom">Newsroom</a>
      </li> -->
      <li class="nav-item">
        <a class="header_cta" routerLinkActive="active" routerLink="institution">Institution Login</a>
      </li>
    </ul>
  </div>
  <div class="app_hamburger_icon" (click)="toggleMenu()">
    <img [src]="isResponsive ? 'assets/icons/hamburger-close.svg' : 'assets/icons/hamburger-bars.svg'" alt="Hamburger Icon"/>
  </div>
  <!-- <div class="app_header_hamburger" (click)="toggleMenu()" [class.open]="isResponsive">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div> -->
</header>