<main class="app_about">
    <div class="row gx-0 app_about_gallery justify-content-center">
        <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <h6 class="app_about_gallery_title">Index Steering Group</h6>
            <p class="app_about_gallery_info">Steering Group comprising the two organisations behind
                Sumpoorn, and
                external members to oversee the launch and evolution of the Index.</p>
            <div class="row row-cols-1 row-cols-md-3 gallery_con">
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-ramann.png" class="figure-img"
                            alt="Sivasubramanian Ramann">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Sivasubramanian Ramann</p>
                            <p class="designation">Chairman & Managing Director, SIDBI</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-singh.png" class="figure-img" alt="S.N. Singh">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. S.N. Singh</p>
                            <p class="designation">CGM, SIDBI</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-prashant.png" class="figure-img" alt="Prashant Muddu">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Prashant Muddu</p>
                            <p class="designation">MD & CEO, Jocata</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-narasima.png" class="figure-img" alt="Narasimhan V">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Narasimhan V</p>
                            <p class="designation">Principal Advisor, Jocata.
                                Former COO, Dun & Bradstreet - SAARC, Middle East and Africa (EWN).
                                Former Director, Board of SMERA (now Acuite Ratings)</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-sumita.png" class="figure-img" alt="Sumita Kale">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Dr. Sumita Kale </p>
                            <p class="designation">CEO and Senior Fellow, Indicus Foundation.
                                Former Chief Economist – Indicus Analytics.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="mt-5">
                <h6 class="app_about_gallery_title">Index Working Group</h6>
                <p class="app_about_gallery_info">Working Group comprising the two organisations behind
                    Sumpoorn, and external members for the ongoing management and operational aspects of delivering
                    the Index in the public realm.</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 gallery_con">
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-vivek.png" class="figure-img"
                            alt="Vivek Kumar Malhotra">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Vivek Kumar Malhotra</p>
                            <p class="designation">CGM, SIDBI</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-sanjay.png" class="figure-img" alt="Sanjay Jain">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Sanjay Jain</p>
                            <p class="designation">CGM, SIDBI</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="assets/images/member-narasima.png" class="figure-img" alt="Narasimhan V">
                        <figcaption class="figure-caption">
                            <p class="name mb-2">Sh. Narasimhan V</p>
                            <p class="designation">Principal Advisor, Jocata.
                                Former COO, Dun & Bradstreet - SAARC, Middle East and Africa (EWN).
                                Former Director, Board of SMERA (now Acuite Ratings)</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-0 justify-content-center app_about_info_con">
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-5">
            <div class="app_about_info">
                <img src="assets/images/logo-sidbi.png" class="img-fluid jo-logo my-5" alt="SIDBI Logo" />
                <p class="mb-5"> <span class="fw-600">Small Industries Development Bank of India (SIDBI)</span> serves
                    as the Principal Financial
                    Institution for promotion, financing and development of the Micro, Small and Medium Enterprises
                    (MSME sector) and co-ordination of the functions of the various Institutions engaged in similar
                    activities. SIDBI operates various schemes for both Indirect Finance/Refinance and Direct Finance to
                    create a multiplier effect and increase the flow of credit to MSMEs. Besides finance schemes, SIDBI
                    takes up various activities/initiatives/schemes for encouraging entrepreneurship, enterprise
                    creations and growth of MSMEs. SIDBI also promotes/supports various institutions which are engaged
                    in financing and development of MSMEs. SIDBI has been actively developing various digital solutions
                    to power the MSME ecosystem such as ‘GST Sahay’, ‘Udyam Assist Platform’ and now, has partnered with
                    Jocata to launch the country’s first MSME-specific Economic Activity Index by leveraging India’s
                    Digital Public Infrastructure (DPI).
                </p>
            </div>
            <div class="app_about_info">
                <img src="assets/images/logo-jocata.png" class="img-fluid jo-logo my-5" alt="Jocata Logo" />
                <p class="mb-5"><span class="fw-600">Jocata,</span> a wholly owned subsidiary of <span
                        class="fw-600">BillDesk</span> (IndiaIdeas), is a fintech solution provider that
                    aids financial institutions in achieving their Digital Transformation objectives. Jocata powers
                    digital lending, analytics and, financial crime compliance for marquee public and private banks
                    and NBFCs.</p>

                <p class="mb-5">As a platform partner for a spectrum of lenders, Jocata found that while technology
                    has proved
                    to be a key enabler, the lack of comprehensive and authentic data poses a major hurdle in
                    bridging the MSME credit gap. This led to the creation of <a href="https://jocata.com/gst/"
                        class="fw-600">Jocata GST DNA,</a> an MSME credit score
                    that leverages consent-led data from GSTIN and holistically captures the business’ performance.
                    The score has been back tested on over 50,000 MSMEs at leading institutions, who have adopted it
                    for MSME acquisition, underwriting and monitoring.</p>

                <p class="mb-5"><span class="fw-bold">Jocata Sumpoorn</span> is an extension of this effort to
                    provide a
                    data-driven and timely understanding
                    of MSMEs to further credit penetration to this sector and fuel the MSME powerhouse of the Indian
                    economy. </p>
            </div>
        </div>
    </div>
</main>