<div class="main_context_chart_container">
  <div class="context_chart_container d-lg-block d-md-block d-none container">
    <div id="context_graph_svg" class="float-chart"> </div>
    <div class="chart_desc d-md-flex">
      <div id="iipDescDiv" class="iipContent">
        <div class="iipLegendText"><input type="checkbox" id="IIPCheckbox" class="context_checkboxes"
            value="IIP" /> &nbsp;*IIP</div>
        <div class="iipLegendContent">
          General Index of Industrial Production. IIP data compiled and published by the Ministry of
          Statistics and Programme Implementation (MoSPI), GOI is updated to the latest release. </div>
      </div>
      <div id="pmiDescDiv" class="pmiContent">
        <div class="pmiLegendText"><input type="checkbox" id="PMICheckbox" class="context_checkboxes"
            value="PMI" /> &nbsp;*PMI&#8482;</div>
        <div class="pmiLegendContent">
          S&P Global Composite Purchasing Managers' Index. All trademarks are property of their respective
          owners.
        </div>
      </div>
      <div id="gvaDescDiv" class="gvaContent">
        <div class="gvaLegendText"><input type="checkbox" id="GVACheckbox" class="context_checkboxes"
            value="GVA" />
          &nbsp;*GVA Growth %</div>
        <div class="gvaLegendContent">
          Growth in Gross Value Added at current prices. GVA is a primary measure in national income
          statistics, defined as the value of output less the value of intermediate consumption.
        </div>
      </div>
    </div>
  </div>
  <div class="mobile_context_chart_container d-md-none container">
    <div class="context_mobchart_container">
      <div id="mobile_context_graph_y_axis_svg" style="float:left;width: 7%;position: relative;">
      </div>
      <!-- width: 7%; -->
      <div id="mobile_context_graph_y_axis_gva_svg" style="float:right;position: relative;">
      </div>
      <!-- width: 7%; -->
      <div id="mobile_context_graph_y_axis_pmi_svg" style="float:right;position: relative;">
      </div>
      <!-- width: 7%; -->
      <div id="mobile_context_graph_y_axis_iip_svg" style="float:right;position: relative;">
      </div>
      <!-- width: 72%; -->
      <div id="mobile_context_graph_svg" style="overflow-x:scroll;position: relative;">
      </div>
    </div>
    <!-- <div id="mobile_context_graph_svg" class="float-chart"> </div> -->
    <!-- d-none  -->
    <div class="chart_desc d-md-flex">
      <div id="iipDescDiv" class="iipContent">
        <div class="iipLegendText"><input type="checkbox" id="IIPCheckboxMob" class="context_checkboxes_mob"
            value="IIP"/> &nbsp;*IIP</div>
      </div>
      <div id="pmiDescDiv" class="pmiContent">
        <div class="pmiLegendText"><input type="checkbox" id="PMICheckboxMob" class="context_checkboxes_mob"
            value="PMI" /> &nbsp;*PMI&#8482;</div>
      </div>
      <div id="gvaDescDiv" class="gvaContent">
        <div class="gvaLegendText"><input type="checkbox" id="GVACheckboxMob" class="context_checkboxes_mob"
            value="GVA" />
          &nbsp;*GVA Growth %</div>
      </div>
    </div>
  </div>
</div>