#context_graph_y_axis_svg svg,
#context_graph_y_axis_iip_svg svg,
#context_graph_y_axis_pmi_svg svg,
#context_graph_y_axis_gva_svg svg,
#mobile_context_graph_y_axis_svg svg,
#mobile_context_graph_y_axis_iip_svg svg,
#mobile_context_graph_y_axis_pmi_svg svg,
#mobile_context_graph_y_axis_gva_svg svg {
  position: relative;
}
.mobile_context_chart_container {
  .chart_desc {
    width: 200px;
  }
  .iipContent,
  .pmiContent,
  .gvaContent {
    width: 50px;
  }
}
.context_chart_container {
  max-width: 1160px;
}