#verticalSVG_context svg,#verticalSVG_context_iip svg, #verticalSVG_context_pmi svg, #verticalSVG_context_gva svg {
    position: relative;
}
.mobile_context_chart_container {
    .chart_desc {
        width: 200px;
    }
    .iipContent,
    .pmiContent,
    .gvaContent {
        width: 50px;
    }
}