 <div class="insights_chart_container">
  <div class="insights_graph d-lg-block d-md-block d-none container">
    <div id="insights_graph_left_vertical_svg">
    </div>
    <div id="insights_graph_svg"></div>
    <div id="insights_graph_right_vertical_svg">
    </div>
    <div id="contextMenu" style="display: none" class="contextMenu">
      <div id="closeInfo" class="close" style="cursor: pointer;">&times;</div>
      <div id="insights_graph_y_axis_content_info"></div>
    </div>
  </div>
  <div class="mobile_insights_graph d-md-none">
    <div class="insights_mobchart_container">
      <div id="mobile_insights_graph_right_vertical_svg">
      </div>
      <div id="mobile_insights_graph_svg">
      </div>
    </div>
  </div>
</div> 