 <div class="insights_chart_container">
  <div class="insights_graph d-lg-block d-md-block d-none container">
    <div id="my_dataviz_insights"></div>
    <div id="contextMenu" style="display: none" class="contextMenu">
      <div id="closeInfo" class="close" style="cursor: pointer;">&times;</div>
      <div id="yaxisContentInfo"></div>
    </div>
  </div>
  <div class="mobile_insights_graph d-md-none">
    <div class="insights_mobchart_container">
      <div id="verticalSVG" style="float:right;width: 10%;position: relative;margin-top: 5.5%;">
      </div>
      <div id="mobile_my_dataviz_insights" style="overflow-x:scroll; width: 90%;position: relative;">
      </div>
    </div>
    <!-- <div id="mobile_contextMenu" style="display: none" class="contextMenu">
      <div id="mobile_closeInfo" class="close" style="cursor: pointer;">&times;</div>
      <div id="mobile_yaxisContentInfo"></div>
    </div> -->
  </div>
</div> 