<footer class="app_footer">
  <div class="app_footer_left">
    <p class="footer_copyrights">
      Copyright © {{ currentYear }} Jocata. All rights reserved.
    </p>
    <a href="https://www.linkedin.com/company/jocata/" target="_blank">
      <img
        src="assets/icons/linkedin.svg"
        width="21"
        height="20"
        alt="Jocata Linkedin Icon"
      />
    </a>
    <a href="https://jocata.com/" target="_blank">
      <img
        src="assets/icons/website.svg"
        width="20"
        height="20"
        alt="Jocata Website Icon"
      />
    </a>
  </div>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <a routerLink="tou">Sumpoorn Terms of Use</a>
    </li>
  </ul>
</footer>
