@import '../../../assets/variables.scss';

.jo-generic-styles-wrapper {
    .jo-right-main-content {
      .mat-form-field{
        margin-bottom: 15px;
      }
      .input-amount-right{
        &.validus-financials-table{
            thead{
                tr{
                    td{}
                }
            }
            tbody{
                tr{
                    td{
                        .mat-form-field-type-mat-input{
                            .mat-form-field-wrapper{
                                .mat-form-field-infix{
                                    .mat-input-element{
                                        text-align:right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mat-form-field-type-mat-input{
            .mat-form-field-wrapper{
                .mat-form-field-infix{
                    .mat-input-element{
                        text-align:right;
                    }
                }
            }
        }
    }
    }
    .modal-close-icon{
        i{
          color: $jo-action-icon-color;
          font-size: 20px;
          float: right;
        }
      }
      .md-dark {
        color: #000;
        float: right;
      }

      .material-icons{
        font-size: $font-size-20px;
        color: $jo-primary-color;
        margin-right: 5px;

        &:last-child{
          margin-right: 0px;
        }
      }
        .mat-dialog-container {
          padding: 24px !important;
    
          .characteristic-dialog-heading {
            margin-bottom: 24px !important;
            margin-top   : 0 !important;
          }
        }
    .popover-header {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        margin-bottom  : 20px;
      }
      .sectional-header {
        background-color: $jo-sectional-heading-background-color;
        color           : $jo-black;
        padding         : 4px 12px;
        text-transform  : uppercase;
        font-weight     : 500;
        font-size       : 1rem;
      }
}
      