<!-- HSN Model -->
<div>
  <div class="row">
    <span class="col-12">
      <img class="float-end" style="cursor: pointer;" src="assets/icons/close.svg" (click)="closeModal()" />
    </span>
  </div>
  <div class="row justify-content-start modal-body">
    <div class="col-md-7">
      <h5 class="hsn_modal_title">What is HSN?</h5>
      <p class="hsn_modal_caption">
        <span>Harmonized System of Nomenclature is a universally </span>
        <span>accepted uniform code to classify goods in a systematic </span>
        <span>way developed by World Customs Organization (WCO) </span>
        <span>and adopted in our GST regime.</span>
      </p>
      <p class="hsn_modal_caption">
        <span>Under the Indian GST system, there are 21 sections </span>
        <span>comprising 99 chapters divided into 1244 headings and </span>
        <span>5224 sub-headings.</span>
      </p>
      <p class="hsn_modal_caption"><a href="https://services.gst.gov.in/services/searchhsnsac" target="_blank">Here
          is a
          detailed list of HSNs</a></p>
    </div>
    <div class="col-md-5 mt-5 mt-md-0">
      <img src="assets/images/figure-hsn.svg" class="float-end img-fluid" alt="How to read HSN" />
    </div>
  </div>
</div>