<div class="activity_chart_container">
  <div class="activity_graph container">
    <div id="activity_graph_left_vertical_svg"></div>
    <div id="activity_graph_svg">
      <div id="activity_graph_svg_inner"></div>
      <div class="activity_graph_caption">
        Fig.- Monthly proportion % of Non-services and Services GSTINs
      </div>
    </div>
    <div
      id="activity_graph_right_vertical_svg"
      class="d-none d-md-inline"
    ></div>
  </div>
  <div id="activity_graph_right_vertical_mobile_svg" class="d-inline d-md-none">
    <span
      ><svg width="12" height="12">
        <rect width="12" height="12" rx="2" ry="2" fill="#9ddcff"></rect>
      </svg>
      Non-Service
    </span>
    <span style="margin-left: 40px">
      <svg width="12" height="12">
        <rect width="12" height="12" rx="2" ry="2" fill="#9b89f7"></rect>
      </svg>
      Service
    </span>
  </div>
</div>
