<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Watch Live</h4>
    <button type="button" class="btn-close" (click)="hideModal()"></button>
</div>
<!-- Modal Body -->
<div class="modal-body">
    <a href="https://webtv.un.org/en/asset/k1h/k1hgg8u0gk" target="_blank"><img class="img-fluid my-3"
            src="assets/images/sumpoorn-newyork.webp" loading="lazy" alt="Jocata Sumpoorn at United Nations New York" /></a>
    <p>Click to view <a href="https://webtv.un.org/en/asset/k1h/k1hgg8u0gk" class="text-decoration-underline" target="_blank">livestream</a> at 10:00
        PM IST (GMT+05:30)
    </p>
</div>