<div>
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Watch Live</h4>
        <button type="button" class="btn-close" (click)="hideModal()"></button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
        <div class="">
            <img width="20%" height="auto" src="assets/images/jocata-sumpoorn-UN-NewYork.jpg" alt="Jocata Sumpoorn @ UN-New York"/>
            <br>
            <br>
            <div>
                Watch Live: Jocata Sumpoorn in association with SIDBI at "Citizen Stack" - the First UN Conference on DPI at 10:00 PM IST, Thursday, April 25th, 2024.
                <br><br>
                Click to view livestream (link) at 10 PM IST (GMT+05:30): <a href="https://webtv.un.org/en/asset/k1h/k1hgg8u0gk" target="_blank">https://webtv.un.org/en/asset/k1h/k1hgg8u0gk</a>
            </div>
            
        </div>
    </div>
</div>