<app-header *ngIf="!hide"></app-header>
<!-- <div class="container"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<app-subscribe-button *ngIf="!isUnderMaintenance() && !hide"></app-subscribe-button>
<app-footer *ngIf="!isUnderMaintenance() && !hide"></app-footer>

<!-- Generic Modal for Errors -->
<div class="modal" id="errorsModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="hideErrorModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="error_text my-3">
                    We are unable to process your request. Please try again after sometime.
                </div>
                <div class="error_text_dynamic my-3">
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner *ngIf="!hide"></app-spinner>
