<header
  class="fixed-top app_header_wrapper"
  [class.app_header_shadow]="appHeaderShadow && !isUnderMaintenance"
>
  <!-- <div class="app_header_un_strip d-flex justify-content-center align-items-center px-3 px-md-0"
    *ngIf="!isUnderMaintenance">
    <p>
        <span class="fw-bold">Jocata</span> has won the prestigious <span class="fw-bold">Global SME Finance
        </span> Forum 2024 award in São Paulo, Brazil.
        <a routerLink="newsroom-events/smeff"> Click here</a>
    </p>
  </div> -->
  <div
    class="app_header_strip d-none d-xl-flex justify-content-end align-items-center"
    *ngIf="!isUnderMaintenance"
  >
    <a
      routerLink="newsroom"
      class="header_page_link"
      [class.active]="isNewsroomEventsActive"
      >Newsroom</a
    >
    <a routerLink="contact" routerLinkActive="active" class="header_page_link"
      >Contact</a
    >
    <a routerLink="institution" routerLinkActive="active" class="header_cta">
      <img
        [src]="
          isInstitutionActive
            ? 'assets/icons/login-white.svg'
            : 'assets/icons/login-black.svg'
        "
        class="pe-3"
        width="24"
        height="24"
        alt="Institution Login Icon"
      />
      <span>Institution Login</span>
    </a>
  </div>
  <div class="app_header_main">
    <div class="app_header_left">
      <a routerLink="home">
        <img
          src="assets/images/logo-main.webp"
          width="248"
          height="80"
          class="img-fluid app_logo"
          alt="Jocata Sumpoorn Logo"
          fetchpriority="high"
        />
      </a>
    </div>
    <div
      class="app_header_right d-flex flex-column align-self-center align-self-xl-end"
      *ngIf="!isUnderMaintenance"
    >
      <ul
        class="nav nav-underline d-none d-xl-flex"
        [class.responsive_menu]="isResponsive"
      >
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="index"
            >Index</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="openResourcesTab()"
            >Resources</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="methodology"
            >Methodology</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="roadmap"
            >Roadmap</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="partners"
            >Partners</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="contact"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="newsroom"
            [class.active]="isNewsroomEventsActive"
            >Newsroom</a
          >
        </li>
        <li class="nav-item">
          <a
            class="header_cta"
            routerLinkActive="active"
            routerLink="institution"
          >
            <img
              [src]="
                isInstitutionActive
                  ? 'assets/icons/login-white.svg'
                  : 'assets/icons/login-black.svg'
              "
              class="pe-3"
              alt="Institution Login Icon"
            />
            <span>Institution Login</span>
          </a>
        </li>
      </ul>
      <div class="app_hamburger_icon" (click)="toggleMenu()">
        <img
          [src]="
            isResponsive
              ? 'assets/icons/hamburger-close.svg'
              : 'assets/icons/hamburger-bars.svg'
          "
          width="18"
          height="18"
          alt="Hamburger Icon"
        />
      </div>
    </div>
  </div>
</header>
