<main class="app_roadmap app_newsroom text-center">
    <div class="row gx-0 app_roadmap_banner_section justify-content-center">
        <div class="col-sm-12 col-md-10">
            <h4 class="app_roadmap_title mb-0">Launch Event Highlights</h4>
            <p class="app_roadmap_caption">
                <span class="d-inline d-xxl-block">Jocata launches “Sumpoorn” India’s first MSME Economic Activity Index
                    in </span>
                <span class="d-inline d-xxl-block">association with SIDBI to further MSME development by enabling
                    strategic action </span>
                <span class="d-inline d-xxl-block">and credit inclusion efforts.</span>
            </p>
            <p class="app_newsroom_subtitle">Mumbai, November 10, 2023</p>
        </div>

        <div class="app_roadmap_banner_overlap col-10">
            <div class="banner_overlap_left">
                <p class="app_home_section_caption">Download Releases &amp; Resources</p>
                <!-- <p class="banner_left_subtitle">(PDF shall be shared separately in email)</p> -->
            </div>
            <div class="banner_overlap_right">
                <a class="app_secondary_btn me-0 mb-3 mb-md-0 me-md-5" (click)="downloadReport('PRESS_RELEASE')">
                    <img src="assets/icons/download-icon-transparent.svg" />
                    <span class="ms-3">Press Release</span>
                </a>
                <a class="app_secondary_btn" (click)="downloadReport('LAUNCH_REPORT')">
                    <img src="assets/icons/download-icon-transparent.svg" />
                    <span class="ms-3">Launch Report</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row gx-0 app_newsroom_gallery justify-content-center">
        <div class="col-10">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col" *ngFor="let event of events">
                    <img [src]="event.imageURL" class="img-fluid w-100" [alt]="event.title">
                    <div class="img_caption">
                        <p class="news_title fw-bold">{{ event.title }}</p>
                        <p class="news_detail">{{ event.detail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>