<main class="app_roadmap text-center">
  <div class="row gx-0 app_roadmap_banner_section">
    <div class="col-12">
      <h4 class="app_roadmap_title mb-0">
        Powerful and Granular MSME Insights
      </h4>
      <p class="app_roadmap_caption">
        <span>The depth of GST returns data of MSMEs allows </span>
        <span> for the slicing of the Sumpoorn consolidated Index </span>
        <span>to provide more granular insights.</span>
      </p>
      <h4 class="app_roadmap_subtitle mb-5">Upcoming Sub-Indices</h4>
      <img
        src="assets/icons/arrow_forward.svg"
        width="40"
        height="40"
        class="img-fluid arrow_down"
        alt="Arrow Down"
      />
    </div>
  </div>
  <div class="row gx-0 justify-content-center app_roadmap_grey_section">
    <div class="col-12">
      <div
        class="d-flex flex-column flex-md-row justify-content-center align-items-center"
      >
        <img
          src="assets/icons/active-sector.svg"
          width="60"
          height="60"
          class="img-fluid pb-4 pb-md-0 pe-md-3"
          alt="Jocata Sumpoorn - Sectoral Indices"
        />
        <h5 class="section_title mb-0">Jocata Sumpoorn - Sectoral Indices</h5>
      </div>
      <p class="app_methodology_caption">
        <span class="d-md-block"
          >The sectoral indices will offer insights into how different sectors,
          as
        </span>
        <span class="d-md-block"
          >classified under GST by the
          <u (click)="openDialog()">Harmonized System of Nomenclature (HSN)</u>,
        </span>
        <span class="d-md-block"
          >are performing as compared to the overall MSME sector.</span
        >
      </p>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="app_roadmap_chart_con">
        <img
          src="assets/images/roadmap-sectoral-chart.webp"
          width="1083"
          height="523"
          class="img-fluid p-2 p-md-4"
          alt="Jocata-Sumpoorn Sectoral Indices"
        />
      </div>
      <p class="chart_caption">
        <span class="fw-600">Fig.-</span> Jocata-Sumpoorn Sectoral Indices
      </p>
    </div>
    <div class="col-sm-10 col-md-9 app_roadmap_note">
      <p>
        <span class="fw-bold">Note:</span> A GSTIN is classified as belonging to
        an industry, if the Trailing Twelve Month (TTM) sales of a particular
        HSN (at a 2 - digit level) in a month is greater than 50% of the sum of
        TTM sales of all HSNs by that GSTIN for the same month.
      </p>
    </div>
    <div class="col-12 col-md-9 mt-5">
      <div
        class="d-flex flex-column flex-md-row justify-content-center align-items-center"
      >
        <img
          src="assets/icons/map.svg"
          width="60"
          height="60"
          class="img-fluid pb-4 pb-md-0 pe-md-3"
          alt="Jocata Sumpoorn - Sectoral Indices"
        />
        <h5 class="section_title mb-0">
          Jocata Sumpoorn - Geographic Cluster Indices
        </h5>
      </div>
      <p class="app_methodology_caption">
        <span class="d-md-block"
          >Region and industrial cluster-based indices based on
        </span>
        <span class="d-md-block"
          >location and industrial activity of the MSMEs.</span
        >
      </p>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="app_roadmap_chart_con">
        <img
          src="assets/images/roadmap-geographical-chart.webp"
          width="1083"
          height="523"
          class="img-fluid p-2 p-md-4"
          alt="Jocata-Sumpoorn Geographical Indices"
        />
      </div>
      <p class="chart_caption">
        <span class="fw-600">Fig.-</span> Jocata-Sumpoorn Geographical Indices
      </p>
    </div>
    <div class="col-12 my-5 pb-5">
      <div
        class="d-flex flex-column flex-md-row justify-content-center align-items-center"
      >
        <img
          src="assets/icons/active-activity.svg"
          width="60"
          height="60"
          class="img-fluid pb-4 pb-md-0 pe-md-3"
          alt="Jocata Sumpoorn - Sectoral Indices"
        />
        <h5 class="section_title mb-0">Jocata Sumpoorn - Activity Indices</h5>
      </div>
      <p class="app_methodology_caption">
        <span class="d-md-block"
          >Manufacturing, Trading and Service indices based
        </span>
        <span class="d-md-block"
          >on the core business activity of the MSMEs.</span
        >
      </p>
    </div>
  </div>
</main>
