<main class="app_index text-center">
    <div class="row gx-0 justify-content-center">
      <div class="col-md-12 mt-2">
        <div class="app_index_chart_con">
          <ul class="nav nav-pills justify-content-center p-2" id="graph-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="graph-insights-tab" data-bs-toggle="pill"
                data-bs-target="#graph-insights" type="button" role="tab" aria-controls="graph-insights"
                aria-selected="true">Insights</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="graph-context-tab" data-bs-toggle="pill" data-bs-target="#graph-context"
                type="button" role="tab" aria-controls="graph-context" aria-selected="false">Context</button>
            </li>
          </ul>
          <div class="tab-content" id="graph-tabContent">
            <div class="tab-pane fade show active" id="graph-insights" role="tabpanel"
              aria-labelledby="graph-insights-tab">
              <div class="index_graphs">
                <div class="insights_graph d-lg-block d-md-block d-none">
                  <div id="my_dataviz_insights"></div>
                  <div id="contextMenu" style="display: none" class="contextMenu">
                    <div id="closeInfo" class="close" style="cursor: pointer;">&times;</div>
                    <div id="yaxisContentInfo"></div>
                  </div>
                </div>
                <div class="mobile_insights_graph d-md-none">
                  mobile_insights_graph
                  <!-- <div id="mobile_my_dataviz_insights"></div>
                  <div id="mobile_contextMenu" style="display: none" class="contextMenu">
                    <div id="mobile_closeInfo" class="close" style="cursor: pointer;">&times;</div>
                    <div id="mobile_yaxisContentInfo"></div>
                  </div> -->
                </div>

                <div class="app_index_commentary_con">
                  <div class="col-md-9 container">
                    <div id="carouselCommentary" class="carousel slide carousel-fade carousel_commentary"
                      data-bs-wrap="false">
                      <a role="button" data-bs-target="#carouselCommentary" data-bs-slide="prev" id="#slide_prev" #slide_prev>
                        <div class="carousel_controls">
                          <span class="control_name" id="prev_month">Prev</span>
                          <img src="assets/icons/chevron_left.svg" class="button_left_arrow" alt="Chevron Left" />
                        </div>
                      </a>
                      <div class="carousel-inner">
                        <div class="carousel-item bg-body active">
                          <div class="commentary_header">
                            <!-- <p class="commentary_month mb-0 ec_month"></p> -->
                            <p class="commentary_title mb-0 ec_month_title"></p>
                            <div class="commentary_download">
                              <span>Download PDF</span>
                              <img src="assets/icons/download-icon.svg" class="img-fluid"/>
                            </div>
                          </div>
                          <div class="commentary_body">
                            <div class="row">
                              <div class="col-md-4 commentary_body_left">
                                <div class="d-inline-flex align-items-center position-relative">
                                  <h6 class="commentary_body_left_title mc_title"></h6>
                                  <span class="title_rating mc_rating"></span>
                                  <span class="circle_waves circle_one isLatestIdx"></span>
                                  <span class="circle_waves circle_two isLatestIdx"></span>
                                  <span class="circle_waves circle_three"></span>
                                </div>
                                <p class="commentary_body_left_detail mc_body">
                                </p>
                                <div class="mc_graph img-fluid">
                                  <div id="commentary_graph"></div>
                                </div>
                              </div>
                              <div class="col-md-8 commentary_body_right">
                                <h6 class="commentary_body_right_title ec_title"></h6>
                                <div class="member_con" id="commentary_mem_details">
                                  <!-- <div id="img_commentary">
                                  </div>
                                  <div class="member_details">
                                    <p class="member_name mb-0 ec_author"></p>
                                    <p class="member_title mb-0 ec_author_designation"></p>
                                  </div> -->
                                </div>
                                <div class="commentary_body_right_detail">
                                  <p class="ec_message"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a role="button" data-bs-target="#carouselCommentary" data-bs-slide="next" id="#slide_next" #slide_next>
                        <div class="carousel_controls">
                          <span class="control_name" id="next_month">Next</span>
                          <img src="assets/icons/chevron_right.svg" class="button_right_arrow" alt="Chevron Right" />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="graph-context" role="tabpanel" aria-labelledby="graph-context-tab">
              <div class="index_graphs">
                <div class="context_chart_container d-lg-block d-md-block d-none">
                  <div id="my_dataviz_context" class="float-chart"> </div>                
                </div>
                <div class="mobile_context_chart_container d-md-none">
                  mobile_my_dataviz_context
                  <!-- <div id="mobile_my_dataviz_context" class="float-chart"> </div>                 -->
                </div>
                <div class="chart_desc">
                  <div id="iipDescDiv" class="iipContent">
                    <div class="iipLegendText"><input type="checkbox"
                      id="IIPCheckbox" class="context_checkboxes" value="IIP"/> &nbsp;*IIP</div>
                    <div class="iipLegendContent">
                      General Index of Industrial Production. IIP data compiled and published by the Ministry of
                      Statistics and Programme Implementation (MoSPI), GOI is updated to the latest release. </div>
                  </div>
                  <div id="pmiDescDiv" class="pmiContent">
                    <div class="pmiLegendText"><input type="checkbox" id="PMICheckbox"
                      class="context_checkboxes" value="PMI" /> &nbsp;*PMI&#8482;</div>
                    <div class="pmiLegendContent">
                      S&P Global Composite Purchasing Managers' Index. All trademarks are property of their respective
                      owners.
                    </div>
                  </div>
                  <div id="gvaDescDiv" class="gvaContent">
                    <div class="gvaLegendText"><input
                      type="checkbox" id="GVACheckbox" class="context_checkboxes" value="GVA" />
                    &nbsp;*GVA Growth %</div>
                    <div class="gvaLegendContent">
                      Growth in Gross Value Added at current prices. GVA is a primary measure in national income
                      statistics, defined as the value of output less the value of intermediate consumption.
                    </div>
                  </div>
                </div>
                <div class="app_index_context_con py-5">
                  <div class="row gx-0 justify-content-center">
                    <div class="my-5">
                      <h6 class="app_index_context_title mb-5">How to read Jocata Sumpoorn with<br />other Macro Indices?
                      </h6>
                      <p class="app_index_context_caption">
                        <span class="d-block">While Jocata Sumpoorn is an MSME specific fact-based Index, readers may
                          want</span>
                        <span class="d-block">to interpret the Index movement with other published Indices to unearth
                          different</span>
                        <span class="d-block">dimensions at play in the Indian economy. It is important to understand
                          the</span>
                        <span class="d-block">construct and scope of each Index before reading the Indices in
                          conjunction.</span>
                      </p>
                    </div>
                    <div class="col-md-10 container mb-5 pb-5">
                      <table class="table table-responsive app_index_context_table">
                        <thead>
                          <tr>
                            <th>
                              <span>Attributes /</span>
                              <span>Indices</span>
                            </th>
                            <th>
                              <span class="table-blue">IIP</span>
                              <span style="white-space: nowrap;">Index of Industrial Production</span>
                            </th>
                            <th>
                              <span class="table-orange">PMI™</span>
                              <span style="white-space: nowrap;">Purchasing Managers’ Index</span>
                              <span class="fw-normal">(by S&P Global)</span>
                            </th>
                            <th>
                              <span class="table-green">Jocata Sumpoorn</span>
                              <span>In Association with SIDBI<br />MSME Economic Activity Index</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Published By</th>
                            <td>GOI</td>
                            <td>S&P Global</td>
                            <td>Jocata</td>
                          </tr>
                          <tr>
                            <th scope="row">Nature of Index</th>
                            <td>Industrial manufacturing performance</td>
                            <td>Business optimism</td>
                            <td>Sales performance</td>
                          </tr>
                          <tr>
                            <th scope="row">Type of Data</th>
                            <td>Actual manufacturing production</td>
                            <td>Opinion based</td>
                            <td>
                              Actual MSME monthly sales data<br />
                              reflected from GSTIN returns of credit- seeking entities
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Sample Size</th>
                            <td>--</td>
                            <td>400 companies</td>
                            <td>
                              1000 MSMEs per month (minimum)<br />
                              2000 MSMEs per month (desirable)
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Factors Involved</th>
                            <td>Production data based on NIC (National Industrial Classification) codes
                            </td>
                            <td>Survey based</td>
                            <td>
                              Fact based - Delta of % of growing & declining GSTlNs combined with amplitude of change in
                              turnover.
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Generation - Frequency & Date</th>
                            <td>Monthly<br />7 weeks later, from the current month</td>
                            <td>Monthly<br />
                              1st week of succeeding month</td>
                            <td>Monthly<br />
                              4 weeks later, from the current month</td>
                          </tr>
                          <tr>
                            <th scope="row">Index Type and Scale</th>
                            <td>
                              Cumulative index<br />
                              Base year: 2011-12<br />
                              Base value: 100
                            </td>
                            <td>
                              Composite diffusion index<br />
                              Base year: None<br />
                              Base value: None<br />
                              Scale: 0 to 100
                            </td>
                            <td>
                              Relative amplitude adjusted composite diffusion index<br />
                              Base year: None<br />
                              Base value: None<br />
                              Scale: 0 to 1
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Seasonality Adjusted?</th>
                            <td>No</td>
                            <td>Yes</td>
                            <td>Yes</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>