<main class="app_tou">
  <div class="row gx-0 justify-content-center">
    <div class="col-sm-12 col-md-10 col-xl-8">
      <div class="app_tou_content">
        <h6 class="app_tou_content_sub_title mb-0">Terms of Use</h6>
        <p class="mb-3">
          This web page outlines the terms of usage (referred to as the
          <strong>"Terms of Use"</strong>) for the user or its agents/clients,
          and licensees, (referred to as “You”) who is using this Website
          developed by Jocata Financial Advisory & Technology Services Private
          Limited (referred to as “Jocata”). When You visit or utilize this
          Website, presently located at <strong>www.sumpoorn.in</strong> or such
          site in mobile application that incorporates to this Terms of Use, or
          any Content associated with them (referred to as the
          <strong>“Website”</strong>). You, hereby acknowledge and confirm that
          You have read and comprehended the Terms of Use and agree to be bound
          by this Terms of Use. You also confirm to adhere to all relevant Laws
          and regulations related to use the Website and the Content.
        </p>
        <p class="mb-5">
          Jocata reserves the right to make additions, deletions, or/and
          modifications in the Terms of Use at any time in its sole discretion
          and without any notice, and such changes in the Terms of Use shall
          come into immediate effect. By continuing to access and use of the
          Website and its Content following the posting of changes to the Terms
          of Use, You confirm acceptance of these changes.
        </p>
        <h6 class="app_tou_content_sub_title mb-0">License</h6>
        <p class="mb-3">
          The License granted herein is solely for the purpose of accessing the
          Content. “Content” refers to the Sumpoorn Economic Activity Index and
          all the associated data, analysis, including, but not limited to,
          insights, commentaries, views, conclusions, reports derived from it,
          sub-indices, text, graphics, design, user interfaces, photographs,
          sounds, music and videos.
        </p>
        <p class="mb-3">
          At all times, You must duly acknowledge and attribute to the
          copyrights of Jocata while using the Content.
        </p>
        <p class="mb-3">
          Jocata reserves all rights to grant or revoke access to the Website/
          Content to You at its sole discretion.
        </p>
        <p class="mb-5">
          All Content displayed on the web page is based on the data obtained
          from various organisations, authors, credit institutions and Jocata
          database. The information is presented on an “as-is” basis without any
          warranties.
        </p>
        <h6 class="app_tou_content_sub_title mb-0">
          General Usage Limitations
        </h6>
        <p class="mb-3">
          In case, You intend to utilize the Website or its Content for any
          commercial purposes, obtaining prior written permission from Jocata is
          mandatory, which shall be at Jocata’s sole discretion and subject to
          such terms and conditions as Jocata may prescribe. Additionally, when
          utilising this Website and its Content, You must not:
        </p>

        <ol type="a" class="mb-5">
          <li>
            breach any pertinent laws, regulations, ordinances, rules, or
            statutes, including those relating to competition or antitrust
            matters;
          </li>
          <li>
            attempt to disrupt or interfere with the computer networks operated
            by Jocata or engage in any efforts to do so;
          </li>
          <li>
            falsify headers or manipulate identifiers to obscure the true source
            of any information;
          </li>
          <li>
            share, download, upload, publish, post, transmit, reproduce, or
            distribute any material that infringes upon breaches, violates, or
            otherwise infringes upon the rights of Jocata or any third party.
            This includes rights such as copyright, trademark, patent, privacy
            or publicity or any other proprietary rights
          </li>
          <li>
            disseminate or upload any material or information that either
            constitutes or encourages activities that would lead to criminal
            charges, other forms of liability, or violations of applicable laws;
          </li>
          <li>
            initiate actions that unreasonably burden or disproportionately
            strain the infrastructure of Jocata’s systems, this Website or any
            connected systems or networks;
          </li>
          <li>
            attempt to explore, examine or access the vulnerabilities of this
            Website or any linked network, or try to gain unauthorised entry or
            access to the computer systems of any individual or entity;
          </li>
          <li>
            engage in any form of bulk copying, scraping, or automated data
            extraction. This includes but not limited to the systematic
            retrieval of data, information, or any aggregated economic activity
            index provided by Sumpoorn that has not been expressly authorised.
          </li>
          <li>
            translate, distribute, or publish either partly or fully for any
            purpose without the prior written consent of Jocata.
          </li>
        </ol>
        <h6 class="app_tou_content_sub_title mb-0">
          Alterations to Website and Content
        </h6>
        <p class="mb-5">
          Jocata reserves its right to modify the terms in this Website in
          relation to statistical, technical, administrative, market-related, or
          comparable shifts that are deemed necessary or beneficial by Jocata in
          good faith. Additionally, Jocata reserves the right to revise any
          Content made available on the Website or in outputs generated by
          Sumpoorn at its sole discretion, without any prior
          intimation/notification.
        </p>
        <h6 class="app_tou_content_sub_title mb-0">Disclaimer</h6>
        <p class="mb-5">
          THE CONTENT DISPLAYED IN THIS WEBSITE IS FOR REFERENCE AND
          INFORMATIONAL PURPOSE ONLY AND DOES NOT PURPORT TO OFFER ANY
          RECOMMENDATION OR OPINION FOR ANY PURPOSE. THE CONTENT IN THIS WEBSITE
          IS THE COLLATION OF INFORMATION ON AN “AS IS" BASIS ONLY. JOCATA DOES
          NOT PROVIDE ANY EXPRESS OR IMPLIED WARRANTY REGARDING THE ACCURACY,
          RELIABILITY, ERRORS, AND/OR OMISSIONS, TIMELINESS, COMPLETENESS, OR
          CORRECTNESS OF THIS WEBSITE OR CONTENT, NOR THE OUTCOMES THAT YOU
          MIGHT ATTAIN THROUGH USING THE CONTENT/WEBSITE. YOU RECOGNISE THAT
          THERE ARE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, CONCERNING TITLE,
          MERCHANTABILITY, FITNESS FOR A SPECIFIC PURPOSE OR USE, EXCEPT FOR THE
          REPRESENTATIONS EXPRESSELY STATED BY JOCATA WITHIN THE TERMS OF USE.
          JOCATA IS NOT RESPONSIBLE FOR ANY RELIANCE ON CONTENT ON THE WEBSITE
          OR ANY OUTPUTS DERIVED FROM IT. THE CONTENT PUBLISHED BY JOCATA IS
          ONLY INDICATIVE AND INFORMATIONAL AND SHALL NOT BE INTERPRETED AS
          FINANCIAL ADVICE OR AN OPINION ON THE MATTERS PUBLISHED THEREIN.
        </p>
        <h6 class="app_tou_content_sub_title mb-0">Limitation of Liability</h6>
        <p class="mb-3">
          Jocata shall not be held liable in any way to You for any errors, or
          omissions, inaccuracies, or inadequacy irrespective of the cause, in
          the Content provided on this Website or for any resulting damages
          (whether direct or indirect). Specifically, Jocata shall not be liable
          to You, whether in contract (including under indemnity), in tort
          (including negligence), under a warranty (express or implied), under
          statute or otherwise, for any loss or damage incurred by You due to
          decisions, recommendations, forecasts, judgments, conclusions, or
          courses of action chosen by You, regardless of whether such decisions
          were influenced by this Website or Content.
        </p>
        <p class="mb-5">
          To the maximum extent permitted by Law, (which in this context, shall
          mean the laws of India), Jocata shall not be liable to You or any
          third party accessing this Website and/ or the Content through You,
          whether arising from contract (including indemnity), tort (including
          negligence), warranty (express or implied), statute or otherwise.
          Jocata will also be not liable for any indirect, incidental,
          consequential, special, punitive, or exemplary damages related to the
          subject matter of this Terms of Use, the Content and / or this
          Website. Such damages include, but are not limited to, loss of
          profits, loss of revenue, loss of business, and opportunities,
          regardless of foreseeability or preventability, or whether advice was
          given to Jocata. 
        </p>
        <h6 class="app_tou_content_sub_title mb-0">Privacy Policy</h6>
        <p class="mb-5">
          Jocata complies with all applicable Data Privacy regulations related
          to the Content and/or Website. Any information shared by the user for
          the usage of this Website shall be treated as private. Jocata
          endeavors to safeguard and protect the user’s privacy. You are
          agreeing to the terms and conditions mentioned herein by accessing
          this Website/Content.
        </p>
        <h6 class="app_tou_content_sub_title mb-0">
          Intellectual Property Rights
        </h6>
        <p class="mb-3">
          Jocata is and shall be the sole and exclusive owner of all the
          Intellectual Property Rights (IPR) in the Sumpoorn including the form
          and format submitted, or derivative works created based on the Content
          including but not limited to sub-indices.
        </p>
        <p class="mb-5">
          This Website and the Content are protected by Jocata’s copyrights.
        </p>
      </div>
    </div>
  </div>
</main>
