<main class="app_roadmap app_newsroom">
  <div class="row gx-0 app_roadmap_banner_section justify-content-center">
    <div class="col-sm-12 col-md-10">
      <a class="app_secondary_btn mb-5" routerLink="/newsroom">
        <img src="assets/icons/back.svg" />
        <span class="ms-3">Go Back</span>
      </a>
      <h4 class="app_roadmap_title mb-0 text-center">{{ eventTitle }}</h4>
      <p class="app_roadmap_caption text-center">
        <ng-container *ngIf="getNavParam === 'smeff'">
          <span class="d-inline d-xxl-block"
            >Jocata Sumpoorn and SME DNA have been recognized with the
            prestigious
          </span>
          <span class="d-inline d-xxl-block"
            >Product Innovation of the Year award at the Global SME Finance
            Forum 2024,
          </span>
          <span class="d-inline d-xxl-block">held in Sao Paulo, Brazil.</span>
        </ng-container>
        <ng-container *ngIf="getNavParam === 'unitednations'">
          <span class="d-inline d-xxl-block"
            >Jocata Sumpoorn in association with SIDBI was showcased at Citizen
            Stack -
          </span>
          <span class="d-inline d-xxl-block"
            >the first United Nations Conference on Digital Public
            Infrastructure (DPI). The
          </span>
          <span class="d-inline d-xxl-block"
            >Index, a shared value good between the financial ecosystem and the
            MSME
          </span>
          <span class="d-inline d-xxl-block"
            >ecosystem, was created as a public-private partnership between a
            fintech
          </span>
          <span class="d-inline d-xxl-block"
            >that brings innovation to the table and the public sector that
            brings scale.</span
          >
        </ng-container>
        <ng-container *ngIf="getNavParam === 'ifc'">
          <span class="d-inline d-xxl-block"
            >Jocata’s Platform+ approach to MSME credit growth and Jocata
            Sumpoorn
          </span>
          <span class="d-inline d-xxl-block"
            >index presented to International Finance Corporation (IFC) senior
            leaders
          </span>
          <span class="d-inline d-xxl-block">from 100+ geographies. </span>
        </ng-container>
        <ng-container *ngIf="getNavParam === 'stakeholder'">
          <span class="d-inline d-xxl-block"
            >The Inclusive Finance India Report 2023, acknowledges Sumpoorn's
            role as a
          </span>
          <span class="d-inline d-xxl-block"
            >stakeholder in facilitating MSME financing and brings out the
            index's potential
          </span>
          <span class="d-inline d-xxl-block"
            >to address the information gaps hindering MSME credit access.</span
          >
        </ng-container>
        <ng-container *ngIf="getNavParam === 'showcase'">
          <span class="d-inline d-xxl-block"
            >Jocata presented “Sumpoorn” India’s first MSME Economic Activity
            Index in
          </span>
          <span class="d-inline d-xxl-block"
            >association with SIDBI at the Global Partnership for Financial
            Inclusion (GPFI)
          </span>
          <span class="d-inline d-xxl-block"
            >meeting under the G20 Presidency at the Global SME Finance Forum,
            managed by
          </span>
          <span class="d-inline d-xxl-block"
            >IFC (International Finance Corporation).</span
          >
        </ng-container>
        <ng-container *ngIf="getNavParam === 'nbdnewsroom'">
          <span class="d-inline d-xxl-block"
            >SIDBI-Jocata Sumpoorn index presented as a key enabler for MSME
            growth in emerging economies
          </span>
        </ng-container>
        <ng-container *ngIf="getNavParam === 'launch'">
          <span class="d-inline d-xxl-block"
            >Jocata launches “Sumpoorn” India’s first MSME Economic Activity
            Index in
          </span>
          <span class="d-inline d-xxl-block"
            >association with SIDBI to further MSME development by enabling
            strategic action
          </span>
          <span class="d-inline d-xxl-block"
            >and credit inclusion efforts.</span
          >
        </ng-container>
        <ng-container *ngIf="getNavParam === 'pune_ppf'">
          <span class="d-inline d-xxl-block"
            >Unlocking Economic Potential: Digital Public Infrastructure for a
          </span>
          <span class="d-inline d-xxl-block"
            >$10 Trillion India – Jocata Sumpoorn as an Example of Privately
          </span>
          <span class="d-inline d-xxl-block"
            >Provisioned Public Infrastructure.
          </span>
        </ng-container>
        <ng-container *ngIf="getNavParam === 'cginewsroom'">
          <!-- <span class="d-inline d-xxl-block"
            >SIDBI-Jocata Sumpoorn index presented as a key enabler for MSME
            growth in emerging economies
          </span> -->
        </ng-container>
        <ng-container *ngIf="getNavParam === 'finreport'">
          <span class="d-inline d-xxl-block"
            >The Inclusive Finance India Report 2025 features Jocata Sumpoorn in its chapter “State
          </span>
          <span class="d-inline d-xxl-block"
            >of MSME Finance in India”, recognising its role in MSME health assessment within
          </span>
          <span class="d-inline d-xxl-block"
            >India’s integrated financial infrastructure. </span
          >
        </ng-container>
      </p>
      <p class="app_newsroom_subtitle text-center">{{ eventDate }}</p>
    </div>
  </div>

  <div class="row gx-0 app_newsroom_gallery justify-content-center">
    <div class="col-10">
      <div *ngIf="getNavParam === 'smeff'">
        <div class="row row-cols-1 row-cols-lg-2 gx-5">
          <div
            class="col"
            *ngFor="let event of events.smeffEvent; let last = last"
          >
            <img
              [src]="event.imageURL"
              class="news_img h-auto"
              [alt]="event.title"
            />
            <div class="img_caption">
              <p class="news_title fw-bold mb-3">{{ event.title }}</p>
              <p class="news_detail" [innerHTML]="event.detail"></p>
            </div>
          </div>
        </div>
        <p class="app_methodology_caption mb-4">
          Learn more about the awards
          <a
            href="https://www.smefinanceforum.org/awards-2024#award-winners"
            class="text-black text-decoration-underline"
            >here</a
          >
        </p>
        <p class="app_methodology_caption">
          Power your MSME strategy - Email us at sumpoorn@jocata.com
        </p>
      </div>
      <div *ngIf="getNavParam === 'unitednations'">
        <div class="row row-cols-1 row-cols-lg-2 gx-5">
          <div
            class="col"
            *ngFor="let event of events.csEvent; let last = last"
          >
            <img
              [src]="event.imageURL"
              class="news_img h-auto"
              [alt]="event.title"
            />
            <div class="img_caption">
              <p class="news_title fw-bold mb-3">{{ event.title }}</p>
              <p class="news_detail">{{ event.detail }}</p>
            </div>
          </div>
        </div>
        <p class="app_methodology_caption fw-semibold mb-4">
          We believe Jocata Sumpoorn can be a valuable digital asset for India
          and other economies, and our endeavour is to actively engage with
          leaders so they can assimilate our approach to building for a thriving
          digital-first nation.
        </p>
        <p class="app_methodology_caption mb-5">
          View recording of the event
          <a
            href="https://webtv.un.org/en/asset/k1h/k1hgg8u0gk"
            class="text-black text-decoration-underline"
            target="_blank"
            >here</a
          >
        </p>
        <div class="app_roadmap_banner_overlap">
          <div class="banner_overlap_left">
            <p class="app_home_section_caption">
              Download Presentation &amp; Transcript
            </p>
          </div>
          <div class="banner_overlap_right">
            <a
              class="app_secondary_btn me-0 mb-3 mb-md-0 me-md-5"
              (click)="downloadReport('PRESENTATION_CITIZEN_STACK')"
            >
              <img src="assets/icons/download-icon-transparent.svg" />
              <span class="ms-3">Presentation</span>
            </a>
            <a
              class="app_secondary_btn"
              (click)="downloadReport('TRANSCRIPT_CITIZEN_STACK')"
            >
              <img src="assets/icons/download-icon-transparent.svg" />
              <span class="ms-3">Transcript</span>
            </a>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'ifc'"
      >
        <div class="col" *ngFor="let event of events.ifcEvent">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail" [innerHTML]="event.detail"></p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'stakeholder'"
      >
        <div class="col" *ngFor="let event of events.msmeFinancing">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail">
              {{ event.detail }}
              <a
                href="https://inclusivefinanceindia.org/wp-content/uploads/2023/12/IFI-Report-2023.pdf"
                class="text-black text-decoration-underline"
                target="_blank"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'launch'"
      >
        <div class="col" *ngFor="let event of events.launchEvent">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail">{{ event.detail }}</p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'showcase'"
      >
        <div class="col" *ngFor="let event of events.showcaseEvent">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail">{{ event.detail }}</p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'nbdnewsroom'"
      >
        <div class="col" *ngFor="let event of events.nbdnewsroomEvent">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail">{{ event.detail }}</p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'pune_ppf'"
      >
        <div class="col" *ngFor="let event of events.puneEvent">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail" [innerHTML]="event.detail"></p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'cginewsroom'"
      >
        <div class="col" *ngFor="let event of events.cginewsroomEvent">
          <!-- <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          /> -->
          <div class="img_caption">
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail" [innerHTML]="event.detail"></p>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-1 row-cols-lg-2 gx-5"
        *ngIf="getNavParam === 'finreport'"
      >
        <div class="col" *ngFor="let event of events.finreport">
          <img
            width="580"
            height="420"
            [src]="event.imageURL"
            class="news_img"
            [alt]="event.title"
          />
          <div class="img_caption">
            <p class="mb-3"><i>Source: Inclusive Finance India Report, 2025 </i></p>
            <p class="news_title fw-bold mb-3">{{ event.title }}</p>
            <p class="news_detail">
              {{ event.detail }}
              <a
                href="https://accessdev.org/inclusive-finance-india-report/"
                class="text-black text-decoration-underline"
                target="_blank"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
