// /* Color Codes */
$app-white: #fff;
$app-black: #000;
$required-field-color: #932d2d;

// /* Font Sizes */
$font-size-10px: 0.833rem;
$font-size-11px: 0.917rem;
$font-size-12px: 1rem;
$font-size-13px: 1.083rem;
$font-size-14px: 1.167rem;
$font-size-15px: 1.25rem;
$font-size-16px: 1.333rem;
$font-size-17px: 1.417rem;
$font-size-18px: 1.5rem;
$font-size-19px: 1.583rem;
$font-size-20px: 1.667rem;
$font-size-21px: 1.75rem;
$font-size-22px: 1.833rem;
$font-size-23px: 1.917rem;
$font-size-24px: 2rem;
$font-size-25px: 2.083rem;
$font-size-26px: 2.167rem;
$font-size-27px: 2.25rem;
$font-size-28px: 2.333rem;
$font-size-29px: 2.417rem;
$font-size-30px: 2.5rem;
$font-size-32px: 2.666rem;
$font-size-36px: 3rem;
// /* Marquee Variables on Homepage */
$marquee-width: 100%;
$marquee-height: 60vh;
$marquee-elements: 3; /* defined with JavaScript */
$marquee-elements-displayed: 2.25;
$marquee-element-width: calc($marquee-width / $marquee-elements-displayed);
$marquee-animation-duration: calc($marquee-elements * 5s);