<main class="app_institution">
  <div class="row gx-0 justify-content-center app_institution_cards_section">
    <div class="col-sm-12 col-md-11 col-xl-9">
      <p class="app_institution_main_title text-center">
        Unlock the Power of Comprehensive Portfolio Analytics
      </p>
      <div class="app_institution_cards">
        <div class="container gx-0">
          <div class="row row-cols-auto row-cols-md-3 gx-5">
            <div class="col">
              <div class="app_institution_card_box h-100">
                <img
                  src="assets/icons/strategic.svg"
                  class="img-fluid"
                  alt="Strategic Icon"
                />
                <div class="app_institution_card_content">
                  <h6 class="app_institution_card_title">
                    Macro Insights for Strategic Decisioning
                  </h6>
                  <p class="app_institution_card_detail">
                    Understand the performance of your MSME pool vis-à-vis the
                    combined multi-lender pool. Get industry and cluster level
                    trends to direct your institution’s MSME credit flow.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_institution_card_box h-100">
                <img src="assets/icons/portfolio.svg" alt="Decisioning Icon" />
                <div class="app_institution_card_content">
                  <h6 class="app_institution_card_title">
                    Enhanced portfolio management
                  </h6>
                  <p class="app_institution_card_detail">
                    Stay ahead in MSME loan book management by monitoring your
                    portfolio mix as well as borrower performance and risk by
                    various parameters on a dynamic basis.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_institution_card_box h-100">
                <img src="assets/icons/industry.svg" alt="Industry Icon" />
                <div class="app_institution_card_content">
                  <h6 class="app_institution_card_title">
                    Smart entity credit assessment
                  </h6>
                  <p class="app_institution_card_detail">
                    Simplify and streamline your credit assessment process with
                    our comprehensive GST based scores and reports. Identify
                    creditworthy MSMEs and manage risk effectively.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row gx-0 text-start justify-content-center app_institution_login_section"
  >
    <div
      class="col-12 col-md-10 d-flex flex-column flex-lg-row align-items-center"
    >
      <img
        src="assets/images/index-insights.png"
        class="img-fluid me-0 mb-5 mb-lg-0 me-lg-5"
      />
      <div class="app_login_details text-center text-md-start">
        <p class="app_home_section_title">Index + Insights for your Bank</p>
        <a
          class="app_primary_btn"
          data-bs-toggle="modal"
          (click)="openDialog('scheduleDemo')"
          >Schedule a Demo</a
        >
        <a
          class="app_secondary_btn"
          data-bs-toggle="modal"
          (click)="openDialog('loginModal')"
          >Login to SWARA</a
        >
      </div>
    </div>
  </div>
</main>
