/* You can add global styles to this file, and also import other style files */
@import "assets/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

html {
  font-size: 12px;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;

  &.app_home_section_caption {
    &:hover {
      color: #194974;
    }
  }

  &.custom-link {
    text-decoration: underline;
    color: #656565;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

main {
  // padding-top: 3rem !important;

  // @media only screen and (min-width: 481px) and (max-width: 1280px) {
  //   padding-top: 6rem !important;
  // }

  // @media only screen and (min-width: 1281px) {
  //   padding-top: 10rem !important;
  // }
}

// Header Styles Start
.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $app-white;
  height: 74px;
  padding: 0 2rem;

  @media only screen and (min-width: 768px) {
    height: 113px;
    padding: 0 7rem 0 3rem;
  }

  .app_hamburger_icon {
    @media only screen and (min-width: 1281px) {
      display: none;
    }
  }

  .app_header_hamburger {
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #797979;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 18px;
      }

      &:nth-child(4) {
        top: 36px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }

    @media only screen and (min-width: 1281px) {
      display: none;
    }
  }

  .app_header_left {
    @media only screen and (max-width: 480px) {
      max-width: 60vw;
    }
  }

  .app_header_right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    .header_links {
      align-self: flex-end;
      margin-bottom: 0.75rem;

      .header_page_link {
        color: rgba(0, 0, 0, 0.8);
        font: 600 $font-size-16px "Poppins", sans-serif;
        margin-left: 27px;
        margin-right: 1rem;
      }

      @media only screen and (max-width: 1281px) {
        display: none;
      }
    }

    .header_cta {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.8);
      border-radius: 32px;
      padding: 3px 15px;
      font: 400 $font-size-16px "Poppins", sans-serif;

      @media only screen and (max-width: 1281px) {
        margin: 1rem;
      }

      &.active {
        background: $app-black;
        color: $app-white;
      }
    }

    .nav-underline {
      .nav-item {
        .nav-link {
          color: $app-black;
          font: 500 $font-size-16px "Poppins", sans-serif;
          padding: 1rem;
          line-height: normal;

          @media only screen and (min-width: 1281px) {
            font-size: $font-size-19px;
            padding: 1.25rem 1rem;
          }

          &.active {
            background-color: #efefef;
            font-weight: 600;

            @media only screen and (min-width: 1281px) {
              background-color: transparent;
              border-bottom: 3px solid $app-black;
            }
          }
        }

        &:not(:nth-last-child(3)) {
          @media only screen and (min-width: 1281px) {
            margin-right: 36px;
          }
        }

        &:nth-last-child(-n + 2) {
          @media only screen and (min-width: 1281px) {
            display: none;
          }
        }
      }

      @media only screen and (max-width: 1281px) {
        display: none;
      }

      &.responsive_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $app-white;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        width: 100%;
        transition: all 0.3s ease;
      }
    }
  }
}

.app_header_shadow {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06),
    0px 22px 22px 0px rgba(0, 0, 0, 0.05), 0px 50px 30px 0px rgba(0, 0, 0, 0.03),
    0px 89px 36px 0px rgba(0, 0, 0, 0.01), 0px 139px 39px 0px rgba(0, 0, 0, 0);
}

// Header Styles End

// Home Page Styles Start
.app_home {
  background-color: #d1f2e8;
  padding-top: 3rem;

  @media only screen and (min-width: 768px) {
    padding-top: 7rem;
  }

  @media only screen and (min-width: 1281px) {
    padding-top: 10rem;
  }

  .app_home_main_title {
    p {
      color: #25505c;
      font: 700 $font-size-28px "Poppins", sans-serif;
      margin: 5.25rem 1.5rem 3rem;
      line-height: 140%;
      overflow-x: hidden;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-36px;
        font-weight: 600;
        margin: 5.25rem 0 4.5rem;
      }
    }
  }

  .app_home_chart_con {
    // border-radius: 20px;
    background: #6ca88f;
    box-shadow: 0px 12px 26px 0px rgba(21, 138, 102, 0.19),
      0px 47px 47px 0px rgba(21, 138, 102, 0.17),
      0px 106px 64px 0px rgba(21, 138, 102, 0.1),
      0px 189px 76px 0px rgba(21, 138, 102, 0.03),
      0px 295px 83px 0px rgba(21, 138, 102, 0);
    padding: 0.25rem 0;

    @media only screen and (min-width: 768px) {
      border-radius: 20px;
      padding: 0.5rem;
    }

    .app_home_chart {
      // border-radius: 14px;
      border-top: 1.419px solid #000;
      border-bottom: 1.419px solid #000;
      background: #fff;
      padding: 1.5rem 0.5rem;

      @media only screen and (min-width: 768px) {
        border: 1.419px solid #000;
        border-radius: 14px;
        padding: 3rem;
      }
    }
  }

  .app_home_chart_info {
    margin: 4.5rem 0 4.75rem;
    padding: 0 2rem;

    @media only screen and (min-width: 768px) {
      margin: 6.25rem 0 11rem;
      padding: unset;
    }

    p {
      color: #25505c;
      font-size: $font-size-18px;
      line-height: 135%;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-28px;
      }

      span {
        @media only screen and (min-width: 1280px) {
          display: block;
        }
      }
    }
  }

  .app_home_msme_section {
    background: #c4e2fd;
    padding: 4.5rem 0 5.25rem;

    @media only screen and (min-width: 768px) {
      padding: 7rem 0;
    }

    .app_home_msme_chart {
      background: #fff;
      box-shadow: 0px 8px 18px 0px rgba(3, 61, 114, 0.1),
        0px 33px 33px 0px rgba(3, 61, 114, 0.09),
        0px 75px 45px 0px rgba(3, 61, 114, 0.05),
        0px 133px 53px 0px rgba(3, 61, 114, 0.01),
        0px 208px 58px 0px rgba(3, 61, 114, 0);
      margin: 0.5rem 0 6.5rem;

      @media only screen and (min-width: 768px) {
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        margin: unset;
      }
    }
  }

  .app_home_eco_section {
    padding: 4rem 0 7.75rem;
    overflow-x: hidden;

    @media only screen and (min-width: 768px) {
      padding: 6rem 0 14rem;
    }

    .app_home_section_title {
      color: #25505c;

      @media only screen and (max-width: 767px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: $font-size-18px;
      }
    }

    .app_eco_cards {
      padding-top: 3rem;

      .row {
        @media only screen and (max-width: 767px) {
          flex-wrap: nowrap;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .col {
          @media only screen and (max-width: 767px) {
            &:first-of-type {
              margin-left: 2.5rem;
            }

            &:last-of-type {
              margin-right: 2.5rem;
            }
          }

          .app_eco_card_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            border-radius: 8px;
            background: #fff;
            padding: 32px;
            gap: 40px;

            @media only screen and (max-width: 767px) {
              max-width: 264px;
              padding: 23px;
            }

            .app_eco_card_content {
              .app_eco_card_title {
                color: #25505c;
                font: 700 $font-size-18px "Poppins", sans-serif;
                line-height: 138.023%;

                @media only screen and (min-width: 768px) {
                  font-size: $font-size-24px;
                }
              }

              .app_eco_card_detail {
                color: #25505c;
                font-size: $font-size-15px;
                margin-bottom: 0;
                line-height: 138.023%;

                @media only screen and (min-width: 768px) {
                  font-size: $font-size-20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .app_home_minds_section {
    background: $app-white;
    padding: 6rem 0 7rem;

    img {
      @media only screen and (max-width: 767px) {
        width: 113px;
        height: 56px;
      }
    }

    .minds_content {
      margin-top: 6.25rem;

      @media only screen and (min-width: 768px) {
        margin: 9rem 0 3rem;
      }
    }
  }

  .app_home_meth_section {
    padding: 8rem 0 7rem;
    overflow-x: hidden;

    @media only screen and (min-width: 768px) {
      padding: 15rem 0;
    }

    .app_methodology_cards {
      @media only screen and (max-width: 767px) {
        padding-bottom: 4.25rem;
      }

      @media only screen and (min-width: 768px) {
        margin-left: -5rem;
        padding-top: 0;
      }

      .row {
        .col {
          @media only screen and (max-width: 767px) {
            margin-left: unset;
          }

          &:nth-child(-n + 2) {
            @media only screen and (min-width: 768px) {
              display: none;
            }
          }

          .app_methodology_card_box {
            @media only screen and (max-width: 767px) {
              padding: 18px 14px;
              max-width: 124px;
              min-height: 160px;
            }

            p {
              @media only screen and (max-width: 767px) {
                font-size: 9.483px;
              }
            }
          }
        }
      }
    }
  }

  .app_home_testimonial {
    .testimonial_content_con {
      padding: 6rem 2rem 4rem 3.5rem;
      text-align: start;

      @media only screen and (min-width: 390px) and (max-width: 394px) {
        padding-right: 2.5rem;
      }

      @media only screen and (min-width: 768px) {
        padding: 8rem 2rem 4rem 8rem;
      }

      @media only screen and (min-width: 1280px) {
        padding: 91px 0 75px 253px;
      }

      .testimonial_content {
        position: relative;
        color: #000;
        font-family: "Alegreya Sans";
        font-size: $font-size-18px;
        line-height: normal;

        @media only screen and (min-width: 768px) {
          font-size: $font-size-20px;
        }

        &:first-of-type {
          @media only screen and (max-width: 767px) {
            padding-top: 2rem;
          }

          &::before {
            position: absolute;
            content: url("assets/icons/ivc-start-gray.svg");
            top: -3rem;

            @media only screen and (min-width: 768px) {
              top: 0;
              left: -5rem;
            }
          }
        }

        &:last-of-type {
          &::after {
            position: absolute;
            content: url("assets/icons/ivc-end-gray.svg");
            bottom: -2rem;
            margin-left: 1rem;
          }
        }
      }
    }

    .testimonial_img_con {
      overflow: hidden;

      @media only screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 182px;
          height: 182px;
          order: 2;
        }

        div {
          text-align: left;
          margin-left: 3.5rem;
        }
      }

      @media only screen and (min-width: 768px) {
        align-self: flex-end;
        text-align: end;
      }
    }

    &.jocata_testimonial {
      background: #c4e2fd;

      .testimonial_content_con {
        @media only screen and (min-width: 768px) {
          padding: 8rem 4rem 4rem 6rem;
        }

        @media only screen and (min-width: 1280px) {
          padding: 63px 253px 45px 0;
        }
      }

      .testimonial_content {
        &:first-of-type {
          &::before {
            // position: absolute;
            content: url("assets/icons/ivc-start-blue.svg");
            // left: -5rem;
          }
        }

        &:last-of-type {
          &::after {
            // position: absolute;
            content: url("assets/icons/ivc-end-blue.svg");
            // bottom: -2rem;
            // margin-left: 1rem;
          }
        }
      }

      .testimonial_img_con {
        @media only screen and (max-width: 767px) {
          order: 2;

          img {
            order: 0;
          }

          div {
            margin-left: 0;
            margin-right: 1.75rem;
          }
        }

        @media only screen and (min-width: 768px) {
          text-align: start;
        }
      }
    }

    .testimonial-name {
      color: #000;
      font-size: $font-size-18px;
      font-weight: 600;
      line-height: normal;

      span {
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }

    .testimonial-detail {
      color: #7d7d7d;
      font-size: $font-size-16px;
      line-height: normal;
      width: 90%;

      span {
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }

    img {
      @media only screen and (max-width: 767px) {
        display: inline-flex;
      }
    }
  }

  .app_home_marquee {
    background: $app-white;
    width: $marquee-width;
    overflow: hidden;
    position: relative;
    padding: 7rem 0;

    @media only screen and (min-width: 768px) {
      height: $marquee-height;
    }

    @keyframes scrolling {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(calc(-1 * $marquee-element-width * $marquee-elements));
      }
    }

    .marquee-content {
      list-style: none;
      height: 100%;
      display: flex;
      padding: 0;
      animation: scrolling $marquee-animation-duration linear infinite;

      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        width: $marquee-element-width;
        max-height: 100%;

        .marquee-content-title {
          color: #000;
          font-size: 24px;
          line-height: 120%;
        }
      }
    }
  }
}

// Home Page Styles Start

// Generic Styles Start
.app_home_subscribe {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 2.5rem;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    height: 83px;
  }

  p {
    color: #4a4a4a;
    font: 600 $font-size-24px "Poppins", sans-serif;
    line-height: 120%;
    margin-bottom: 0;

    @media only screen and (min-width: 768px) {
      margin-right: 2rem;
    }
  }
}

.app_primary_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #25bb61;
  color: $app-white;
  padding: 11px 35px;
  border-radius: 56px;
  font: 500 $font-size-16px "Poppins", sans-serif;
  margin-bottom: 3rem;

  &:hover {
    color: $app-white;
  }

  @media only screen and (min-width: 768px) {
    font-size: $font-size-20px;
  }
}

.app_secondary_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #25bb61;
  color: $app-white;
  padding: 12px 24px;
  border-radius: 60px;
  font: 500 $font-size-16px "Poppins", sans-serif;

  &:hover {
    color: $app-white;
  }

  @media only screen and (min-width: 768px) {
    font-size: $font-size-20px;
  }
}

.section_title {
  color: $app-black;
  font: 700 $font-size-28px "Poppins", sans-serif;
  line-height: 120%;
  margin-bottom: 2.5rem;

  @media only screen and (min-width: 768px) {
    margin-bottom: 4rem;
  }
}

.app_home_section_title {
  color: #000;
  font: 700 $font-size-20px "Poppins", sans-serif;
  line-height: 120%;
  margin-bottom: 2rem;

  @media only screen and (min-width: 768px) {
    font-size: $font-size-32px;
    margin-bottom: 4rem;
  }
}

.app_home_section_caption {
  color: #194974;
  font-size: $font-size-18px;
  line-height: 135.023%;

  @media only screen and (max-width: 767px) {
    padding: 0 1rem;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 768px) {
    font-size: $font-size-24px;
  }

  span {
    @media only screen and (min-width: 768px) {
      display: block;
    }
  }
}

.blue-text {
  color: #194974 !important;
}

.app_methodology_caption {
  color: $app-black;
  font-size: $font-size-18px;
  line-height: normal;
  margin-bottom: 0;

  span {
    @media only screen and (min-width: 1281px) {
      display: block;
    }
  }
}

.app_methodology_cards {
  @media screen and (max-width: 767px) {
    padding-bottom: 7.5rem;
  }

  @media screen and (min-width: 768px) {
    padding-top: 7.5rem;
  }

  .row {
    @media only screen and (max-width: 767px) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-left: 2rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .col {
      @media only screen and (max-width: 767px) {
        &:first-of-type {
          margin-left: 2rem;
        }

        &:last-of-type {
          margin-right: 2rem;
        }
      }

      .app_methodology_card_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
        background: #fff;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06),
          0px 22px 22px 0px rgba(0, 0, 0, 0.05),
          0px 50px 30px 0px rgba(0, 0, 0, 0.03),
          0px 89px 36px 0px rgba(0, 0, 0, 0.01),
          0px 139px 39px 0px rgba(0, 0, 0, 0);
        min-height: 270px;
        padding: 32px 24px;

        @media only screen and (max-width: 767px) {
          box-shadow: none;
          max-width: 210px;
          min-height: 270px;
        }

        p {
          color: #494949;
          font-family: "Alegreya Sans";
          font-size: $font-size-16px;
          line-height: 140.523%;
        }
      }
    }
  }
}

.app_roadmap_note {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 2rem 0rem;

  p {
    color: #767676;
    font-size: $font-size-14px;
    line-height: 140.523%;
    margin-bottom: 0;
    text-align: start;
  }
}

// Generic Styles End

// About Page Styles Start
.app_about {
  padding-top: 6rem;

  .app_about_gallery {
    background: $app-white;
    padding: 2rem;

    @media only screen and (min-width: 768px) {
      padding: 5rem;
    }

    .app_about_gallery_title {
      color: #4a4a4a;
      font: 700 $font-size-24px "Poppins", sans-serif;
      line-height: normal;
      margin-bottom: 0;
    }

    .app_about_gallery_info {
      color: #4a4a4a;
      font-size: $font-size-18px;
      line-height: normal;
      margin: 8px 0 40px;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-19px;
      }
    }

    .gallery_con {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      .col {
        margin-bottom: 2.5rem;

        @media only screen and (min-width: 768px) {
          margin-bottom: 8rem;
        }

        .figure {
          img {
            margin-bottom: 1.25rem;
          }

          .figure-caption {
            @media only screen and (max-width: 767px) {
              text-align: start;
            }

            .name {
              color: #000;
              font-size: $font-size-18px;
              font-weight: 600;
              line-height: normal;
            }

            .designation {
              color: #7d7d7d;
              font-size: $font-size-16px;
              line-height: normal;

              @media only screen and (min-width: 768px) {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }

  .app_about_info_con {
    background: #f8f8f8;
    padding: 2rem;

    @media only screen and (min-width: 768px) {
      padding: 5rem 0 10rem;
    }

    .app_about_info {
      p {
        color: #194974;
        font-size: $font-size-16px;
        line-height: 157.523%;

        @media only screen and (min-width: 768px) {
          color: #4a4a4a;
          font-size: $font-size-18px;
        }

        a {
          color: inherit;
        }
      }
    }
  }
}

// About Page Styles End

// Terms of Use Styles Start
.app_tou {
  background: #f8f8f8;

  @media only screen and (min-width: 768px) {
    background: #f2f2f2;
  }

  padding-top: 6rem;

  @media only screen and (min-width: 768px) {
    padding-top: 9.5rem;
  }

  .app_tou_content {
    margin: 2rem;

    @media only screen and (min-width: 768px) {
      margin: 9.5rem 0;
    }

    .app_tou_content_main_title {
      color: #000;
      font-size: $font-size-18px;
      font-weight: 700;
      line-height: 119.2%;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-20px;
      }
    }

    .app_tou_content_sub_title {
      color: #000;
      font-size: $font-size-14px;
      font-weight: 600;
      line-height: 119.2%;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-16px;
      }
    }

    p {
      color: #6f6f6f;
      font-size: $font-size-14px;
      line-height: 119.2%;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-16px;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

// Roadmap Page Styles Start
.app_roadmap {
  background: #d1f2e8;
  padding-top: 7.5rem;

  // @media only screen and (min-width: 768px) {
  //   padding-top: 7.5rem;
  // }
  .app_roadmap_banner_section {
    // height: 580px;
    padding: 2.75rem 2rem;
    align-items: center;

    @media only screen and (min-width: 768px) {
      padding: 7.5rem 0 4.75rem;
    }

    .app_roadmap_title {
      color: #194974;
      font: 700 $font-size-28px "Poppins", sans-serif;
      line-height: 137.523%;
    }

    .app_roadmap_caption {
      color: #194974;
      font-size: $font-size-20px;
      line-height: 137.523%;
      margin: 2rem auto;

      @media only screen and (min-width: 768px) {
        font-size: $font-size-28px;
        margin: 5.75rem auto 7.75rem;

        span {
          display: block;
        }
      }
    }

    .app_roadmap_subtitle {
      @extend .app_roadmap_title;

      @media only screen and (max-width: 768px) {
        font-size: $font-size-18px;
      }
    }

    .arrow_down {
      &:hover {
        transform: translateY(30px);
        -webkit-transition: transform linear 1000ms;
        -moz-transition: transform linear 1000ms;
        -o-transition: transform linear 1000ms;
        transition: transform linear 1000ms;
      }
    }
  }

  .app_roadmap_grey_section {
    background: #f8f8f8;
    padding-top: 4rem;

    .app_methodology_caption {
      padding-top: 2rem;
    }

    .section_title,
    .app_methodology_caption {
      @media only screen and (max-width: 767px) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }
    }

    // .app_methodology_caption {
    //   span {
    //     @media only screen and (min-width: 768px) {
    //       display: block;
    //     }
    //   }
    // }
    .app_roadmap_chart_con {
      margin: 4.5rem auto 3.5rem;
      background: $app-white;
      box-shadow: 0px 8px 19px 0px rgba(0, 0, 0, 0.1),
        0px 34px 34px 0px rgba(0, 0, 0, 0.09),
        0px 76px 46px 0px rgba(0, 0, 0, 0.05),
        0px 136px 54px 0px rgba(0, 0, 0, 0.01),
        0px 212px 59px 0px rgba(0, 0, 0, 0);

      @media only screen and (min-width: 768px) {
        margin: 7.5rem auto 6rem;
        border-radius: 16px;
      }
    }

    .chart_caption {
      color: #4a4a4a;
      font-size: $font-size-16px;
      font-weight: 700;
      line-height: 140.523%;
      margin-bottom: 2.5rem;

      @media only screen and (min-width: 768px) {
        margin-bottom: 1.75rem;
      }
    }

    .app_roadmap_note {
      padding-left: 2rem;
      padding-right: 2rem;

      @media only screen and (min-width: 992px) {
        padding-left: 6rem;
        padding-right: 6rem;
      }
    }

    .app_roadmap_grey_text {
      color: #a6a6a6;
    }

    .app_roadmap_indices {
      text-align: center;
      padding: 7rem 3rem;

      @media only screen and (min-width: 992px) {
        text-align: start;
        padding: 10.5rem 3rem 12.5rem;
      }

      .row {
        .col {
          // padding: 0;

          &:first-child {
            @media only screen and (max-width: 992px) {
              margin-bottom: 6rem;
            }
          }

          .section_title {
            margin: 1.25rem auto;
            padding: 0;
          }

          .app_methodology_caption {
            padding: 0;
            color: #4a4a4a;

            span {
              @media only screen and (min-width: 768px) and (max-width: 992px) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// Roadmap Page Styles End

// Methodology Page Styles Start
.app_methodology {
  background: #c4e2fd;
  padding-top: 6rem;

  @media only screen and (min-width: 768px) {
    padding-top: 9.5rem;
  }

  .app_methodology_title_section {
    p {
      color: #194974;
      font-size: $font-size-22px;
      line-height: 130.5%;
      margin-bottom: 0;
      padding: 4.5rem 2.5rem;

      >span:not(span span) {
        @media only screen and (min-width: 768px) {
          display: block;
        }
      }

      @media only screen and (min-width: 768px) {
        padding: 10rem 0;
        font-size: $font-size-28px;
        font-family: "Poppins", sans-serif;
      }
    }
  }

  .app_methodology_tabs {
    background: $app-white;

    .nav-tabs {
      margin: 1.5rem auto 3rem;
      border-color: #4a4a4a;

      @media only screen and (max-width: 991px) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 85%;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @media only screen and (min-width: 992px) {
        justify-content: space-evenly;
      }

      .nav-link {
        color: #4a4a4a;
        font: 400 $font-size-18px "Poppins", sans-serif;
        text-align: left;

        span {
          margin-left: 1rem;
        }

        &.active {
          border-color: #4a4a4a #4a4a4a #fff;
          font-weight: 700;
          padding-right: 1.5rem;
          padding-left: 1.5rem;
        }

        &:not(.active) {
          border-color: transparent;
        }
      }
    }

    .section_title {
      margin-bottom: 1.25rem;

      @media only screen and (max-width: 767px) {
        font-size: $font-size-24px;
      }
    }

    .app_methodology_caption {
      padding-bottom: 3.25rem;

      @media only screen and (max-width: 767px) {
        font-size: $font-size-16px;
        padding-right: 2.25rem;
        padding-left: 2.25rem;
      }
    }

    .app_roadmap_note {
      margin-bottom: 3rem;

      @media only screen and (max-width: 767px) {
        border: 0;
      }

      p {
        @media only screen and (max-width: 767px) {
          border-top: 1px solid #dfdfdf;
          border-bottom: 1px solid #dfdfdf;
          margin: 0 2rem;
          padding: $font-size-14px 0;
        }

        @media only screen and (max-width: 1280px) {
          font-size: $font-size-12px;
        }
      }
    }

    #tab-geographic {
      .app_methodology_state_cities {
        text-align: left;
        height: 100vh;
        overflow-y: auto;
        position: relative;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          width: 0;
          width: 5px;
          background-color: #f6f6f6;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          background-color: transparent;
          display: none;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #e3e3e3;
        }

        ul {
          &.state-list {
            max-height: 100%;
          }

          li {
            border-bottom: 0.903px solid #dbdbdb;
            padding: 7.2px;
            cursor: pointer;

            span {
              &.state-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #000;
                font-size: 14.456px;

                .toggle-icon {
                  float: right;
                }
              }
            }

            ul {
              &.city-dropdown {
                list-style-type: none;
                padding-left: 0;
                flex-wrap: wrap;

                li {
                  border-bottom: none;
                  flex: 50%;
                  color: rgba(0, 0, 0, 0.6);
                  font-size: $font-size-14px;
                  line-height: 132.023%;
                }
              }
            }
          }
        }

        h6 {
          position: sticky;
          top: 0;
          background: $app-white;
          z-index: 1;
          color: #000;
          font-size: 16.263px;
          font-weight: 700;
          line-height: 120%;
          padding-left: 7.2px;
        }

        .accordion {
          --bs-accordion-border-color: transparent;
          --bs-accordion-btn-padding-x: 0.6rem;
          --bs-accordion-btn-padding-y: 0.6rem;
          --bs-accordion-btn-focus-border-color: none;
          --bs-accordion-btn-focus-box-shadow: none;
          --bs-accordion-btn-icon: url("assets/icons/chevron_right.svg");
          --bs-accordion-btn-active-icon: url("assets/icons/collapse_arrow.svg");
          --bs-accordion-btn-icon-width: 1.75rem;
          --bs-accordion-btn-icon-transform: rotate(0deg);
          --bs-accordion-body-padding-x: 0.6rem;
          --bs-accordion-body-padding-y: 0.6rem;
          --bs-accordion-active-color: $app-black;
          --bs-accordion-active-bg: transparent;

          .accordion-item {
            .accordion-header {
              border-bottom: 0.903px solid #dbdbdb;

              .accordion-button {
                font-size: 14.456px;

                &:not(.collapsed) {
                  font-weight: 600;
                }
              }
            }

            .accordion-body {
              .city_dropdown {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                  border-bottom: none;
                  flex: 50%;
                  color: rgba(0, 0, 0, 0.6);
                  font-size: $font-size-14px;
                  line-height: 132.023%;
                }
              }
            }
          }
        }
      }
    }

    #tab-turnover {
      // @media only screen and (min-width: 768px) and (max-width: 991px) {
      //   padding-left: 3rem;
      //   padding-right: 3rem;
      // }

      .app_roadmap_note {
        @media only screen and (min-width: 768px) {
          padding: 1rem 0rem;
        }
      }

      .app_methodology_tbl_section {
        font-size: $font-size-11px;
        text-align: start;

        @media only screen and (max-width: 767px) {
          max-width: 75vw;
          margin: 0 auto 2.25rem;
        }

        @media only screen and (min-width: 1280px) {
          font-size: $font-size-14px;
        }

        h6 {
          color: #000;
          margin-bottom: 0.25rem;
          font-weight: 500;
          line-height: 120%;
        }

        table {
          margin-bottom: 0.25rem;

          td,
          th {
            padding: 0;
            color: #626262;
          }

          th {
            font-weight: 400;
            border-top: 1px solid #dadada;
            border-bottom: 1px solid #dadada;
          }

          tbody {
            tr {
              &:last-of-type {
                border-bottom: 1px solid #dadada;
              }

              &:nth-child(1) {
                td {
                  &:first-child {
                    color: #25aa4a;
                  }
                }
              }

              &:nth-child(2) {
                td {
                  &:first-child {
                    color: #2a8ac0;
                  }
                }
              }

              &:nth-child(3) {
                td {
                  &:first-child {
                    color: #6d47ff;
                  }
                }
              }
            }
          }
        }

        .tbl_caption {
          color: #8c8c8c;
          line-height: 124.023%;
          font-size: inherit;
        }
      }
    }
  }

  .app_methodology_section {
    padding: 3.5rem 0 6.25rem;

    @media only screen and (min-width: 768px) {
      padding: 8.5rem 0 12rem;
    }

    .order-1.order-md-0 {
      @media only screen and (max-width: 767px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
    }
  }

  .app_consideration_section {
    padding-bottom: 7.5rem;

    .app_consideration_cards {
      .col {
        &:not(:last-child) {
          @media screen and (max-width: 767px) {
            margin-bottom: 4.25rem;
          }
        }

        h6 {
          color: #194974;
          font: 600 $font-size-18px "Poppins", sans-serif;
          line-height: 120%;
          margin-bottom: 2rem;

          @media screen and (min-width: 992px) {
            font-size: $font-size-21px;
          }
        }

        .app_consideration_card_box {
          padding-right: 1rem;
          padding-left: 1rem;

          @media screen and (min-width: 768px) {
            border-top: 1px solid #9cbdda;
            padding: 0.5rem 1.5rem;
          }

          ul {
            li {
              color: #194974;
              font-size: $font-size-16px;
              line-height: 120%;
              text-align: start;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  .app_methodology_index_bin {
    background: #ececec;
    padding: 4.5rem 0 7.25rem;

    .app_methodology_caption {
      color: #4a4a4a;
    }

    @media screen and (min-width: 768px) {
      padding: 7.75rem 0 14rem;
    }

    @media screen and (max-width: 767px) {
      .section_title {
        color: #25505c;
      }

      .app_methodology_caption {
        padding: 0 1.5rem;
      }
    }

    .meth_index_gif_con {
      background: #fdfbfd;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06),
        0px 22px 22px 0px rgba(0, 0, 0, 0.05),
        0px 50px 30px 0px rgba(0, 0, 0, 0.03),
        0px 89px 36px 0px rgba(0, 0, 0, 0.01),
        0px 139px 39px 0px rgba(0, 0, 0, 0);
      margin-top: 4.25rem;

      @media screen and (min-width: 768px) {
        border-radius: 24px;
        margin-top: 5rem;
      }
    }
  }

  .app_methodology_index_frequency {
    padding: 3.5rem 1.5rem 8rem;

    @media only screen and (min-width: 768px) {
      padding: 5.75rem 0 11rem;
    }

    img {
      margin-bottom: 7.5rem;

      @media only screen and (min-width: 768px) {
        margin-bottom: 12.25rem;
      }
    }
  }
}

// Index Page Styles Start Here
.app_index_chart_con {
  .nav-pills {
    .nav-link {
      color: #717171;
      font: 400 $font-size-16px "Poppins", sans-serif;

      &.active {
        background-color: #e1e1e1;
        color: $app-black;
        border-radius: 8px;
        font-weight: 600;
      }
    }
  }
}

.app_index_commentary_con {
  background: #fafafa;
  padding-bottom: 10rem;
}

.app_index {
  .carousel_commentary {
    display: flex;
    gap: 4px;

    a {
      height: max-content;
    }

    .carousel_controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f1f1f1;
      border-radius: 2px;
      padding: 0 12px;
      width: 50px;
      height: 72px;

      &:hover {
        background-color: #e6e6e6;

        .button_left_arrow {
          transform: translateX(-5px);
          -webkit-transition: transform 500ms;
          -moz-transition: transform 500ms;
          -o-transition: transform 500ms;
          transition: transform 500ms;
        }

        .button_right_arrow {
          transform: translateX(5px);
          -webkit-transition: transform 500ms;
          -moz-transition: transform 500ms;
          -o-transition: transform 500ms;
          transition: transform 500ms;
        }
      }
    }
  }
}

.carousel_commentary {
  .carousel_controls {
    span {
      &.control_name {
        color: #4a4a4a;
        font-weight: 500;
        font-size: $font-size-16px;
      }
    }
  }

  .carousel-item {
    &.bg-body {
      background-color: #fafafa !important;
    }
  }

  .commentary_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 72px;
    background: #e6e6e6;
    padding: 10px 20px;

    p {
      &.commentary_month {
        color: #4a4a4a;
        font-weight: 500;
        font-size: $font-size-16px;
        line-height: normal;
      }

      &.commentary_title {
        color: #2e2e2e;
        font: 700 $font-size-20px "Poppins", sans-serif;
        line-height: normal;
      }
    }
  }

  .commentary_body {
    text-align: left;
    padding: 20px 5px;
  }
}

.commentary_body {
  .commentary_body_left_title {
    color: #119345;
    font-weight: 700;
    font-size: $font-size-18px;
    line-height: normal;
    margin-bottom: 0;
  }

  .commentary_body_left {
    .title_rating {
      border-radius: 6px;
      background: #25bb61;
      color: $app-white;
      padding: 1px 6px;
      font: 600 $font-size-16px "Inter", sans-serif;
      margin: 5px 15px 5px 5px;
    }

    .circle_waves {
      margin: 0 auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      right: 0;
    }
  }

  .commentary_body_left_detail {
    color: #505050;
    font-size: 17px;
    line-height: 130%;
  }

  .commentary_body_right {
    .commentary_body_right_title {
      color: #2e2e2e;
      font-weight: 700;
      font-size: $font-size-18px;
      line-height: 120%;
      margin-left: 5px;
    }
  }
}

@keyframes circleOne {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2);
    opacity: 0.75;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes circleTwo {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
    opacity: 0.75;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.circle_two {
  background: #fff;
  animation: circleTwo 1.5s infinite ease-out;
}

.circle_three {
  background-color: #25bb61;
}

.commentary_body_right {
  .member_con {
    background: #d2f3e1;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  .commentary_body_right_detail {
    margin: 0 5px 15px 5px;

    p {
      color: #4a4a4a;
      font-size: 17px;
      line-height: 130%;
    }
  }
}

.member_con {
  .member_details {
    .member_name {
      color: #4a4a4a;
      font: 600 $font-size-18px "Work Sans";
      line-height: 120%;
    }

    .member_title {
      color: #4a4a4a;
      font: 400 $font-size-14px "Work Sans";
      line-height: 120%;
    }
  }
}

.app_index_context_con {
  background: #deefff;

  .app_index_context_title {
    color: #194974;
    font: 700 $font-size-28px "Poppins", sans-serif;
    line-height: 120%;
  }

  .app_index_context_caption {
    color: #194974;
    font-size: $font-size-18px;
    line-height: 130%;
  }
}

.app_index_context_table {
  text-align: left;
  background: $app-white;
  box-shadow: 0px 4px 9px 0px rgba(26, 73, 115, 0.1),
    0px 16px 16px 0px rgba(26, 73, 115, 0.09),
    0px 36px 22px 0px rgba(26, 73, 115, 0.05),
    0px 64px 26px 0px rgba(26, 73, 115, 0.01),
    0px 100px 28px 0px rgba(26, 73, 115, 0),
    0px -3px 23px 0px rgba(25, 73, 116, 0.09);

  th,
  td {
    padding: 16px !important;
  }

  thead {
    background: #edf5fd;

    th {
      vertical-align: baseline;
      color: #194974;
      font-size: $font-size-18px;
      font-weight: 700;
      line-height: 120%;

      span {
        display: block;
      }
    }
  }

  tbody {
    color: #000;
    font-size: $font-size-15px;
    font-weight: 400;
    line-height: 120%;

    th {
      font-weight: 600;
    }
  }
}

.table-blue {
  color: #2e8dff;
}

.table-orange {
  color: #e1861b;
}

.table-green {
  color: #2fb36b;
}

// Footer Styles Start
.app_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e3e3e3;
  color: #5c5c5c;
  height: 70px;
  font-size: $font-size-16px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    padding: 0 7rem 0 3rem;
  }

  .list-group-item {
    background: unset;
    border: none;

    a {
      color: #5c5c5c;
      text-decoration: underline;

      &:hover {
        color: $app-black;
      }
    }

    &:not(:last-of-type) {
      border-right: 1px solid #d0d0d0;
    }
  }
}

// Footer Styles End

.app_contact_cards {
  .app_contact_card_box {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06),
      0px 22px 22px 0px rgba(0, 0, 0, 0.05),
      0px 50px 30px 0px rgba(0, 0, 0, 0.03),
      0px 89px 36px 0px rgba(0, 0, 0, 0.01), 0px 139px 39px 0px rgba(0, 0, 0, 0);
    min-height: 270px;

    p {
      color: #494949;
      font-family: "Alegreya Sans";
      font-size: $font-size-16px;
      line-height: 140.523%;
    }

    .app_contact_card_box_title {
      color: #000;
      font-size: $font-size-20px;
      font-weight: 700;
      line-height: 119.2%;
    }
  }
}

.mt-20 {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 25px;

  .form-control {
    border-radius: 0;
    border: none;
    padding: 0px;
    border-bottom: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;

    &:focus {
      box-shadow: none;
      border-color: #000;
    }

    &:active {}

    &:hover {}
  }

  .custom-label {}

  textarea {
    &.form-control {
      resize: none;

      &.feedback {
        height: 60px;
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
      }
    }
  }

  select {
    &.form-control {
      option {}
    }
  }
}

.form-control {
  &::placeholder {
    color: $app-black;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $app-black;
  }

  &::-ms-input-placeholder {
    color: $app-black;
  }
}

.form-group .form-control:disabled,
.form-group .form-control[disabled],
.form-group .form-control.disabled {}

.sm-primary-button {
  border: none;
  justify-content: center;
  align-items: center;
  background: #25bb61;
  color: $app-white;
  padding: 6px 35px;
  border-radius: 8px;
  font: 500 $font-size-16px "Poppins", sans-serif;
}

.sm-primary-button[disabled],
.sm-primary-button.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.app-contact {
  background-color: #f2f2f2;
}

.app-contact-block-margin {
  padding: 6rem 0;
}

.black-text {
  color: #000000;
}
.terms-label {
  color: #656565;
}

.dropwodn-chevron-adjust {
  float: right;
  position: relative;
  top: -15px;
  width: 12px;
}

.app_contact_content_sub_title {
  margin-bottom: 1.8rem !important;
}

@media screen and (max-width: 767px) {
  [data-aos] {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }
}

// Institution Login Page Styles Start
.app_institution {
  @media only screen and (min-width: 768px) {
    padding-top: 9.5rem;
  }

  .app_institution_cards_section {
    background: #c4e2fd;
    padding: 8.5rem 0 9.25rem 0;
    overflow-x: hidden;

    .app_institution_main_title {
      color: #25505c;
      font: 700 $font-size-32px "Poppins", sans-serif;
      line-height: 150%;
      /* 48px */
      margin-bottom: 4rem;

      @media only screen and (max-width: 767px) {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: $font-size-18px;
      }
    }

    .app_institution_cards {
      .row {
        @media only screen and (max-width: 767px) {
          flex-wrap: nowrap;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .col {
          @media only screen and (max-width: 767px) {
            &:first-of-type {
              margin-left: 2.5rem;
            }

            &:last-of-type {
              margin-right: 2.5rem;
            }
          }

          .app_institution_card_box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            border-radius: 8px;
            background: #fff;
            padding: 32px;
            gap: 40px;

            @media only screen and (max-width: 767px) {
              max-width: 264px;
              padding: 23px;
            }

            .app_institution_card_content {
              .app_institution_card_title {
                color: #25505c;
                font: 700 $font-size-18px "Poppins", sans-serif;
                line-height: 138.023%;

                @media only screen and (min-width: 768px) {
                  font-size: $font-size-24px;
                }
              }

              .app_institution_card_detail {
                color: #25505c;
                font-size: $font-size-15px;
                margin-bottom: 0;
                line-height: 138.023%;

                @media only screen and (min-width: 768px) {
                  font-size: $font-size-20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .app_institution_login_section {
    background: #d1f2e8;
    padding: 6.75rem 2rem;

    @media only screen and (min-width: 768px) {
      padding-left: unset;
      padding-right: unset;
    }

    .app_login_details {
      .app_home_section_title {
        color: #25505c;
        margin-bottom: 2.75rem;
      }

      .app_primary_btn {
        @media only screen and (min-width: 768px) {
          margin-bottom: 0;
          margin-right: 2.5rem;
        }
      }

      .app_secondary_btn {
        background: #949494;
      }
    }
  }
}

// Institution Login Page Styles End


// Modal Styles Start
.modal {
  .modal-content {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 22px 47px 0px rgba(0, 0, 0, 0.10), 0px 86px 86px 0px rgba(0, 0, 0, 0.09), 0px 194px 116px 0px rgba(0, 0, 0, 0.05), 0px 345px 138px 0px rgba(0, 0, 0, 0.01), 0px 539px 151px 0px rgba(0, 0, 0, 0.00);
    padding: 2rem;
    .modal-header {
      padding: unset;
      border-bottom: none;
      // padding: 3rem 1.25rem 1.25rem 3rem;
      .modal-title {
        color: $app-black;
        font: 700 $font-size-20px "Poppins", sans-serif;
        line-height: normal;
      }
      .btn-close {
        color: $app-black;
      }
    }
    .modal-body {
      padding: unset;
      .complete_form_text {
        color: $app-black;
        font-weight: 500;
        font-size: $font-size-18px;
        line-height: normal;
        margin-top: 2.25rem;
      }
      .required_text {
        color: #535353;
        font-size: $font-size-15px;
        line-height: normal;
        margin: 0.5rem 0 2.5rem;
        span {
          color: #932d2d;
        }
      }
      .success_text {
        color: #696969;
        font-size: $font-size-18px;
        line-height: normal;
      }
    }
  }

  .roadmap_hsn_modal {
    max-width: 944px;

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      margin-right: 2rem;
      margin-left: 2rem;
    }

    .modal-content {
      box-shadow: none;

      .modal-body {
        padding: 10px 20px 44px;

        @media only screen and (min-width: 768px) {
          padding: 10px 60px 44px 44px;
        }

        .hsn_modal_title {
          color: #4a4a4a;
          font: 600 22px "Poppins";
          line-height: 120%;
          margin-bottom: 2rem;
        }

        .hsn_modal_caption {
          color: rgba(74, 74, 74, 0.92);
          font-size: $font-size-16px;
          line-height: normal;

          span {
            @media only screen and (min-width: 992px) {
              display: block;
            }
          }

          a {
            color: inherit;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Modal Styles End