<main class="app_home text-center">
  <div class="row gx-0 justify-content-center">
    <div class="col-sm-12 col-md-10 app_home_chart_con" data-aos="fade-up" data-aos-easing="linear">
      <p class="app_home_main_title mb-0">
        <span class="d-block">India’s First MSME</span>
        <span class="d-block">Economic Activity Index</span>
      </p>
      <img src="assets/images/main-image.webp" class="img-fluid w-100" alt="Jocata Sumpoorn" />
    </div>
    <div class="col-sm-12 col-md-10 app_home_chart_info">
      <a class="app_primary_btn" href="/index" data-aos="fade-up">Explore Index Features</a>
      <p data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
        <span>A first-of-its-kind Index from Jocata – one of India’s most trusted Digital Lending </span>
        <span>Platform providers, in association with SIDBI – the Principal Financial Institution for </span>
        <span>MSME development, that truly represents the state of our MSMEs that contribute more </span>
        <span>than a quarter of India’s overall Gross Value Added (GVA) and more than 40% of total </span>
        <span>exports, reflected through actual sales data.</span>
      </p>
    </div>
  </div>
  <div class="container-fluid app_home_msme_section">
    <div class="row gx-0 text-center text-lg-start">
      <div class="col-sm-12 col-lg-6 d-flex app_home_msme_chart" data-aos="fade-right" data-aos-easing="linear">
        <img src="assets/images/metrics.webp" height="448" class="img-fluid" alt="Jocata Sumpoorn Metrics" loading="lazy" />
      </div>
      <div class="col-sm-12 offset-lg-1 col-lg-5 app_home_msme_content" data-aos="fade-up" data-aos-easing="linear">
        <h4 class="app_home_section_title mt-5 blue-text">Why Build an MSME Index?</h4>
        <p class="app_home_section_caption">
          <span>Available macro indices capture </span>
          <span>business expectations and sentiment. </span>
          <span>There is no index that captures the </span>
          <span>lifeblood of the Indian economy – MSMEs. </span>
          <span>Sumpoorn is an attempt to bridge this gap.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row gx-0 justify-content-center app_home_eco_section">
    <div class="col-12 col-lg-9">
      <h4 class="app_home_section_title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">An MSME
        economic activity index is vital for
      </h4>
      <div class="app_eco_cards">
        <div class="container gx-0">
          <div class="row row-cols-auto row-cols-md-3 gx-5">
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/savings.svg" width="80" height="80" class="img-fluid" data-aos="fade-up" data-aos-easing="linear"
                  data-aos-delay="500" data-aos-duration="1000" alt="Savings Icon" loading="lazy">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                  <h5 class="app_eco_card_title">Lenders</h5>
                  <p class="app_eco_card_detail">To direct developmental and commercial capital to MSMEs
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/account_balance.svg" width="80" height="80" class="img-fluid" data-aos="fade-up" data-aos-delay="700"
                  data-aos-duration="1000" alt="Balance Icon" loading="lazy">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                  <h5 class="app_eco_card_title">Policy makers</h5>
                  <p class="app_eco_card_detail">To create tailored policies to propel MSME growth & development
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/currency_rupee.svg" width="80" height="80" class="img-fluid" data-aos="fade-up" data-aos-delay="900"
                  data-aos-duration="1000" alt="Curreny Icon" loading="lazy">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
                  <h5 class="app_eco_card_title">Economists and Researchers</h5>
                  <p class="app_eco_card_detail">To study policy and credit flow impact on the segment
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-0 justify-content-center app_home_minds_section">
    <div class="col-10 col-md-12 col-lg-10 col-xl-8 d-flex justify-content-between justify-content-md-around overflow-hidden">
      <img src="assets/images/logo-jocata.webp" width="232" height="110" class="img-fluid" data-aos="fade-right" data-aos-easing="linear"
        data-aos-duration="1000" alt="Jocata Logo" loading="lazy" />
      <img src="assets/images/logo-sidbi.webp" width="232" height="110" class="img-fluid" data-aos="fade-left" data-aos-easing="linear"
        data-aos-duration="1000" alt="SIDBI Logo" loading="lazy" />
    </div>
    <div class="col-sm-12 col-md-9 minds_content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000"
      data-aos-delay="500">
      <h4 class="app_home_section_title">Minds Behind the Index</h4>
      <p class="app_home_section_caption text-black">
        <span>A team of credit experts, data scientists and senior economists </span>
        <span>have built and tracked the Index over the past 4 years to </span>
        <span>ensure its ability to represent the MSME economy and capture </span>
        <span>the impact of macroeconomic conditions. <u><a href="about" class="text-black">Read
              More</a></u></span>
      </p>
    </div>
  </div>
  <div class="container-fluid app_home_msme_section app_home_meth_section gx-0">
    <div class="row gx-0 text-center text-md-start align-items-center">
      <div class="col-sm-12 col-md-6 app_methodology_cards" data-aos="fade-right" data-aos-easing="linear"
        data-aos-duration="1000">
        <div class="row row-cols-auto row-cols-md-3">
          <div class="col">
            <div class="app_methodology_card_box h-100">
              <img src="assets/icons/cart.svg" width="65" height="64" class="img-fluid mb-5" alt="Cart Icon" loading="lazy">
              <p>Use GST Returns to calculate MSME <span class="fw-bold">TTM sales</span> for
                current month (TTMc) and previous month (TTMp). </p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/combine.svg" width="65" height="64" class="img-fluid mb-5" alt="Combine Icon" loading="lazy">
              <p>For each GSTIN, <span class="fw-bold">calculate delta of monthly sales on a YoY
                  basis, represent relative to TTMp;</span> thereafter
                <span class="fw-bold">remove outliers</span>.
              </p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box h-100">
              <img src="assets/icons/gap.svg" width="65" height="64" class="img-fluid mb-5" alt="Gap Icon" loading="lazy">
              <p>Calculate <span class="fw-bold">delta of growing and declining MSMEs combined
                  with their amplitude of sales.</span></p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/graph.svg" width="65" height="64" class="img-fluid mb-5" alt="Graph Icon" loading="lazy">
              <p>Compute the <span class="fw-bold">relative amplitude adjusted diffusion
                  index</span>.</p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/resize.svg" width="65" height="64" class="img-fluid mb-5" alt="Resize Icon" loading="lazy">
              <p><span class="fw-bold">Algorithmically scale</span> for values ranging from 0 to
                1.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 offset-md-1 col-md-5 app_home_msme_content" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <h4 class="app_home_section_title blue-text">Index Methodology</h4>
        <p class="app_home_section_caption mb-0">
          <span>Jocata Sumpoorn is a 'relative </span>
          <span>amplitude adjusted diffusion index' </span>
          <span>generated using monthly GST sales </span>
          <span>data of credit-seeking MSMEs.</span>
        </p>
        <a class="app_home_section_caption text-decoration-none" href="methodology"><u>Read More</u></a>
      </div>
    </div>
  </div>
  <div class="app_home_testimonial bg-white">
    <div class="row gx-0">
      <div class="col-sm-12 col-md-9 col-lg-8 testimonial_content_con" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <p class="testimonial_content">The significance of the MSME sector for the Indian economy is a well acknowledged
          fact. However, data paucity on the MSME sector often becomes a challenge for industry members and
          policymakers.</p>
        <p class="testimonial_content">We, at SIDBI, have been constantly engaged in the development of the sector and
          have been partnering with institutions to bridge the information asymmetry to enable informed decision-making
          by stakeholders. It is in this spirit that we have created Sumpoorn with Jocata, that carries an index which
          measures the economic activity of MSMEs by leveraging GST data.</p>
        <p class="testimonial_content">The underlying authentic data of GST provides credibility to the Index. With
          time, the same can be expanded to include more dimensions. I hope the publication shall be of value to the
          readers and provide a rich perspective on the prevalent trends of the MSME sector.</p>
        <div class="d-none d-md-block mt-5">
          <p class="testimonial-name mb-2">
            <span>Sh. Sivasubramanian </span>
            <span>Ramann</span>
          </p>
          <p class="testimonial-detail">
            <span>Chairman & Managing </span>
            <span>Director, SIDBI</span>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-4 testimonial_img_con">
        <img src="assets/images/testimonial-sidbi.webp" width="312" height="311" class="img-fluid" data-aos="fade-left" data-aos-easing="linear"
          data-aos-duration="1000" alt="Sivasubramanian Ramann - Chairman & Managing Director, SIDBI" loading="lazy" />
        <div class="d-block d-md-none">
          <p class="testimonial-name mb-2">
            <span>Sh. Sivasubramanian </span>
            <span>Ramann</span>
          </p>
          <p class="testimonial-detail">
            <span>Chairman & Managing </span>
            <span>Director, SIDBI</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="app_home_testimonial jocata_testimonial">
    <div class="row gx-0">
      <div class="col-sm-12 col-md-3 col-lg-4 testimonial_img_con">
        <img src="assets/images/testimonial-jocata.webp" width="312" height="311" class="img-fluid" data-aos="fade-right" data-aos-easing="linear"
          data-aos-duration="1000" alt="Prashant Muddu - MD & CEO, Jocata" loading="lazy" />
        <div class="d-block d-md-none">
          <p class="testimonial-name mb-2">Prashant Muddu</p>
          <p class="testimonial-detail">MD & CEO, Jocata</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-8 testimonial_content_con" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <p class="testimonial_content">The Digital Public Infrastructure (DPI) and technology stacks developed by public
          and private institutions are allowing Indian MSMEs to evolve at a rapid pace. An understanding of this sector
          that is fact-based and dynamic has become critical for their sustained growth, especially through formal
          credit access.</p>
        <p class="testimonial_content">As a digital transformation partner for marquee lenders in the country, Jocata
          has been deeply engaged in providing behavioural insights on MSME entities and powering near-instant credit
          decisioning and faster disbursals.</p>
        <p class="testimonial_content">With the belief that a high-frequency indicator will help address the prevailing
          MSME knowledge gap, Jocata, in association with SIDBI, presents Sumpoorn, India's first and only economic
          activity index of credit-seeking MSMEs. With only a four-week reporting cycle, we believe Sumpoorn can
          effectively, and in a timely manner, aid various stakeholders at financial institutions, policy makers,
          economists and researchers in strategically directing development and credit efforts to fuel the growth of
          MSMEs across the country.</p>
        <div class="d-none d-md-block mt-5">
          <p class="testimonial-name mb-2">Prashant Muddu</p>
          <p class="testimonial-detail">MD & CEO, Jocata</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row gx-0" id="subscribeSection">
    <div class="col-md-12 app_home_subscribe">
      <p>For monthly Index updates</p>
      <span class="app_secondary_btn" (click)="openDialog()">Subscribe</span>
    </div>
  </div> -->
  <div class="row gx-0 app_home_marquee">
    <div class="col-md-12">
      <span class="app_home_section_title mb-0">Our Partners</span>
      <ul class="marquee-content">
        <li *ngFor="let partner of partners">
          <!-- <h6 class="marquee-content-title">{{ partner.title }}</h6> -->
          <img [src]="partner.imageSrc" width="400" height="200" class="img-fluid" [alt]="partner.imageAlt" loading="lazy">
        </li>
      </ul>
    </div>
  </div>
</main>