<main class="app_home text-center">
  <div class="row gx-0 justify-content-center">
    <div class="col-12 app_home_main_title" data-aos="fade-up" data-aos-easing="linear">
      <p>India’s only MSME economic activity index</p>
    </div>
    <div class="col-sm-12 col-md-10 app_home_chart_con" data-aos="fade-up" data-aos-easing="linear">
      <div class="app_home_chart">
        <img src="assets/images/home-chart.svg" class="img-fluid" alt="Jocata Sumpoorn Insights Chart" />
      </div>
    </div>
    <div class="col-sm-12 col-md-10 app_home_chart_info">
      <a class="app_primary_btn" href="/index" data-aos="fade-up">Explore Index Features</a>
      <p data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
        <span>A first-of-its-kind Index from Jocata – one of India’s most trusted Digital Lending </span>
        <span>Platform providers, in association with SIDBI – the Principal Financial Institution for </span>
        <span>MSME development, that truly represents the state of our MSMEs that contribute more </span>
        <span>than a quarter of India’s overall Gross Value Added (GVA) and more than 40% of total </span>
        <span>exports, reflected through actual sales data.</span>
      </p>
    </div>
  </div>
  <div class="container-fluid app_home_msme_section">
    <div class="row gx-0 text-center text-md-start">
      <h4 class="app_home_section_title blue-text d-block d-md-none">Why Build an MSME Index?</h4>
      <div class="col-sm-12 col-md-6 d-flex app_home_msme_chart" data-aos="fade-right" data-aos-easing="linear">
        <img src="assets/images/home-msme-chart.svg" class="img-fluid" alt="Jocata Sumpoorn MSME Chart" />
      </div>
      <div class="col-sm-12 offset-md-1 col-md-5 app_home_msme_content" data-aos="fade-up" data-aos-easing="linear">
        <h4 class="app_home_section_title mt-5 blue-text d-none d-md-block">Why Build an MSME Index?</h4>
        <p class="app_home_section_caption">
          <span>Available macro indices capture </span>
          <span>business expectations and sentiment. </span>
          <span>There is no index that captures the </span>
          <span>lifeblood of the Indian economy – MSMEs.</span>
        </p>
        <p class="app_home_section_caption">
          <span>Sumpoorn reflects – </span>
          <span><strong>50K+</strong> MSMEs & Growing<span class="d-inline d-xl-none">,</span>&nbsp;</span>
          <span><strong>92</strong> Industries<span class="d-inline d-xl-none">,</span>&nbsp;</span>
          <span><strong>₹ 6LAKH+ Crores</strong> of MSME Annual Turnover </span>
        </p>
      </div>
    </div>
  </div>
  <div class="row gx-0 justify-content-center app_home_eco_section">
    <div class="col-12 col-lg-9">
      <h4 class="app_home_section_title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">An MSME
        economic activity index is vital for
      </h4>
      <div class="app_eco_cards">
        <div class="container gx-0">
          <div class="row row-cols-auto row-cols-md-3 gx-5">
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/savings.svg" class="img-fluid" data-aos="fade-up" data-aos-easing="linear"
                  data-aos-delay="500" data-aos-duration="1000" alt="Savings Icon">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                  <h6 class="app_eco_card_title">Lenders</h6>
                  <p class="app_eco_card_detail">To direct developmental and commercial capital to MSMEs
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/account_balance.svg" class="img-fluid" data-aos="fade-up" data-aos-delay="700"
                  data-aos-duration="1000" alt="Balance Icon">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                  <h6 class="app_eco_card_title">Policy makers</h6>
                  <p class="app_eco_card_detail">To create tailored policies to propel MSME growth & development
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="app_eco_card_box h-100" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                <img src="assets/icons/currency_rupee.svg" class="img-fluid" data-aos="fade-up" data-aos-delay="900"
                  data-aos-duration="1000" alt="Curreny Icon">
                <div class="app_eco_card_content" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
                  <h6 class="app_eco_card_title">Economists and Researchers</h6>
                  <p class="app_eco_card_detail">To study policy and credit flow impact on the segment
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-0 justify-content-center app_home_minds_section">
    <div class="col-sm-12 d-none d-md-flex justify-content-around overflow-hidden">
      <img src="assets/images/logo-jocata.svg" class="img-fluid" data-aos="fade-right" data-aos-easing="linear"
        data-aos-duration="1000" alt="Jocata Logo" />
      <img src="assets/images/logo-sidbi.svg" class="img-fluid" data-aos="fade-left" data-aos-easing="linear"
        data-aos-duration="1000" alt="SIDBI Logo" />
    </div>
    <!-- Separate Logos for Mobile -->
    <div class="col-md-10 d-flex d-md-none justify-content-around">
      <img src="assets/images/logo-jocata.png" class="img-fluid" data-aos="fade-right" data-aos-easing="linear"
        data-aos-duration="1000" alt="Jocata Logo" />
      <img src="assets/images/logo-sidbi.png" class="img-fluid" data-aos="fade-left" data-aos-easing="linear"
        data-aos-duration="1000" alt="SIDBI Logo" />
    </div>
    <div class="col-sm-12 col-md-9 minds_content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000"
      data-aos-delay="500">
      <h4 class="app_home_section_title">Minds Behind the Index</h4>
      <p class="app_home_section_caption text-black">
        <span>A team of credit experts, data scientists and senior economists </span>
        <span>have built and tracked the Index over the past 4 years to </span>
        <span>ensure its ability to represent the MSME economy and capture </span>
        <span>the impact of macroeconomic conditions. <u><a href="about" class="text-black">Read
              More</a></u></span>
      </p>
    </div>
  </div>
  <div class="container-fluid app_home_msme_section app_home_meth_section gx-0">
    <div class="row gx-0 text-center text-md-start align-items-center">
      <div class="col-sm-12 col-md-6 app_methodology_cards" data-aos="fade-right" data-aos-easing="linear"
        data-aos-duration="1000">
        <div class="row row-cols-auto row-cols-md-3">
          <div class="col">
            <div class="app_methodology_card_box h-100">
              <img src="assets/icons/cart.svg" class="img-fluid mb-5" alt="Cart Icon">
              <p>Use GST Returns to calculate MSME <span class="fw-bold">TTM sales</span> for
                current month (TTMc) and previous month (TTMp). </p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/combine.svg" class="img-fluid mb-5" alt="Combine Icon">
              <p>For each GSTIN, <span class="fw-bold">calculate delta of monthly sales on a YoY
                  basis, represent relative to TTMp;</span> thereafter
                <span class="fw-bold">remove outliers</span>.
              </p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box h-100">
              <img src="assets/icons/gap.svg" class="img-fluid mb-5" alt="Gap Icon">
              <p>Calculate <span class="fw-bold">delta of growing and declining MSMEs combined
                  with their amplitude of sales.</span></p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/graph.svg" class="img-fluid mb-5" alt="Graph Icon">
              <p>Compute the <span class="fw-bold">relative amplitude adjusted diffusion
                  index</span>.</p>
            </div>
          </div>
          <div class="col">
            <div class="app_methodology_card_box text-center h-100">
              <img src="assets/icons/resize.svg" class="img-fluid mb-5" alt="Resize Icon">
              <p><span class="fw-bold">Algorithmically scale</span> for values ranging from 0 to
                1.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 offset-md-1 col-md-5 app_home_msme_content" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <h4 class="app_home_section_title blue-text">Index Methodology</h4>
        <p class="app_home_section_caption mb-0">
          <span>Jocata Sumpoorn is a 'relative </span>
          <span>amplitude adjusted diffusion index' </span>
          <span>generated using monthly GST sales </span>
          <span>data of credit-seeking MSMEs.</span>
        </p>
        <a class="app_home_section_caption text-decoration-none" href="methodology"><u>Read More</u></a>
      </div>
    </div>
  </div>
  <div class="app_home_testimonial bg-white">
    <div class="row gx-0">
      <div class="col-sm-12 col-md-9 col-lg-8 testimonial_content_con" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <p class="testimonial_content">The significance of the MSME sector for the Indian economy is a well acknowledged
          fact. However, data paucity on the MSME sector often becomes a challenge for industry members and
          policymakers.</p>
        <p class="testimonial_content">We, at SIDBI, have been constantly engaged in the development of the sector and
          have been partnering with institutions to bridge the information asymmetry to enable informed decision-making
          by stakeholders. It is in this spirit that we have created Sumpoorn with Jocata, that carries an index which
          measures the economic activity of MSMEs by leveraging GST data.</p>
        <p class="testimonial_content">The underlying authentic data of GST provides credibility to the Index. With
          time, the same can be expanded to include more dimensions. I hope the publication shall be of value to the
          readers and provide a rich perspective on the prevalent trends of the MSME sector.</p>
        <div class="d-none d-md-block mt-5">
          <p class="testimonial-name mb-2">
            <span>Sh. Sivasubramanian </span>
            <span>Ramann</span>
          </p>
          <p class="testimonial-detail">
            <span>Chairman & Managing </span>
            <span>Director, SIDBI</span>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-4 testimonial_img_con">
        <img src="assets/images/testimonial-sidbi.svg" class="img-fluid" data-aos="fade-left" data-aos-easing="linear"
          data-aos-duration="1000" alt="Sivasubramanian Ramann - Chairman & Managing Director, SIDBI" />
        <div class="d-block d-md-none">
          <p class="testimonial-name mb-2">
            <span>Sh. Sivasubramanian </span>
            <span>Ramann</span>
          </p>
          <p class="testimonial-detail">
            <span>Chairman & Managing </span>
            <span>Director, SIDBI</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="app_home_testimonial jocata_testimonial">
    <div class="row gx-0">
      <div class="col-sm-12 col-md-3 col-lg-4 testimonial_img_con">
        <img src="assets/images/testimonial-jocata.svg" class="img-fluid" data-aos="fade-right" data-aos-easing="linear"
          data-aos-duration="1000" alt="Prashant Muddu - MD & CEO, Jocata" />
        <div class="d-block d-md-none">
          <p class="testimonial-name mb-2">Prashant Muddu</p>
          <p class="testimonial-detail">MD & CEO, Jocata</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-8 testimonial_content_con" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1000">
        <p class="testimonial_content">The Digital Public Infrastructure (DPI) and technology stacks developed by public
          and private institutions are allowing Indian MSMEs to evolve at a rapid pace. An understanding of this sector
          that is fact-based and dynamic has become critical for their sustained growth, especially through formal
          credit access.</p>
        <p class="testimonial_content">As a digital transformation partner for marquee lenders in the country, Jocata
          has been deeply engaged in providing behavioural insights on MSME entities and powering near-instant credit
          decisioning and faster disbursals.</p>
        <p class="testimonial_content">With the belief that a high-frequency indicator will help address the prevailing
          MSME knowledge gap, Jocata, in association with SIDBI, presents Sumpoorn, India's first and only economic
          activity index of credit-seeking MSMEs. With only a four-week reporting cycle, we believe Sumpoorn can
          effectively, and in a timely manner, aid various stakeholders at financial institutions, policy makers,
          economists and researchers in strategically directing development and credit efforts to fuel the growth of
          MSMEs across the country.</p>
        <div class="d-none d-md-block mt-5">
          <p class="testimonial-name mb-2">Prashant Muddu</p>
          <p class="testimonial-detail">MD & CEO, Jocata</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-0">
    <div class="col-md-12 app_home_subscribe">
      <p>For monthly Index updates</p>
      <a class="app_secondary_btn" data-bs-toggle="modal" data-bs-target="#subscribeModal">Subscribe</a>
    </div>
  </div>
  <div class="row gx-0 app_home_marquee">
    <div class="col-md-12">
      <h6 class="marquee-content-title">Our Partners</h6>
      <ul class="marquee-content">
        <li *ngFor="let partner of partners">
          <!-- <h6 class="marquee-content-title">{{ partner.title }}</h6> -->
          <img [src]="partner.imageSrc" class="img-fluid" [alt]="partner.imageAlt">
        </li>
      </ul>
    </div>
  </div>
</main>

<!-- Subscribe Modal popup -->
<div class="modal fade" id="subscribeModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Subscribe</h4>
        <button type="button" class="btn-close" (click)="hideSubscribeModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="complete_form_text">Complete the form to subscribe.</div>
        <div class="required_text"><span>*</span> Required Fields</div>
        <form [formGroup]="subscribeGroup">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="firstName" id="fistName" name="First Name"
                  placeholder="First Name *" autocomplete="off">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('firstName')?.errors && (subscribeGroup.get('firstName')?.dirty || subscribeGroup.get('firstName')?.touched)">
                  <p *ngIf="subscribeGroup.get('firstName')?.errors?.['required']" class="validation-msg">First
                    Name Required</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="lastName" id="lastName" name="Last Name"
                  placeholder="Last Name *" autocomplete="off">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('lastName')?.errors && (subscribeGroup.get('lastName')?.dirty || subscribeGroup.get('lastName')?.touched)">
                  <p *ngIf="subscribeGroup.get('lastName')?.errors?.['required']" class="validation-msg">Last
                    Name Required</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="businessEmail" id="email" name="Email"
                  placeholder="Business Email *" autocomplete="off">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('businessEmail')?.errors && (subscribeGroup.get('businessEmail')?.dirty || subscribeGroup.get('businessEmail')?.touched)">
                  <p *ngIf="subscribeGroup.get('businessEmail')?.errors?.['required']" class="validation-msg">Email
                    Required</p>
                  <p *ngIf="subscribeGroup.get('businessEmail')?.errors?.['pattern']" class="validation-msg">Email
                    Invalid</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle" name="Job Title"
                  placeholder="Job Title *" autocomplete="off">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('jobTitle')?.errors && (subscribeGroup.get('jobTitle')?.dirty || subscribeGroup.get('jobTitle')?.touched)">
                  <p *ngIf="subscribeGroup.get('jobTitle')?.errors?.['required']" class="validation-msg">Job Title
                    Required</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="company" id="companyName" name="Company"
                  placeholder="Company *" autocomplete="off">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('company')?.errors && (subscribeGroup.get('company')?.dirty || subscribeGroup.get('company')?.touched)">
                  <p *ngIf="subscribeGroup.get('company')?.errors?.['required']" class="validation-msg">Company Name
                    Required</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="industry" id="industryName" name="Industry"
                  placeholder="Industry">
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control" maxlength="10" formControlName="contactNumber"
                  id="contactNumber" name="Contact Number" placeholder="Contact Number">
                <div class="form-control-feedback"
                  *ngIf="subscribeGroup.get('contactNumber')?.errors && (subscribeGroup.get('contactNumber')?.dirty || subscribeGroup.get('contactNumber')?.touched)">
                  <!-- <p *ngIf="subscribeGroup.get('contactNumber')?.errors?.['required']" class="validation-msg">Email
                    Required</p> -->
                  <p *ngIf="subscribeGroup.get('contactNumber')?.errors?.['pattern']" class="validation-msg">Mobile
                    Number Is Invalid</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="d-flex align-items-center mb-3">
                <input type="checkbox" formControlName="checkedTermsAndConditions" id="agreeCheckbox">
                <label for="agreeCheckbox" class="terms-label ps-2">
                  By submitting this request, I agree with the Jocata
                  <a class="custom-link" routerLink="/tou" data-bs-dismiss="modal">Terms of Use.</a>
                </label>
                <div class="form-control-feedback"
                    *ngIf="subscribeGroup.get('checkedTermsAndConditions')?.errors && 
                    (subscribeGroup.get('checkedTermsAndConditions')?.dirty 
                    || subscribeGroup.get('checkedTermsAndConditions')?.touched)">
                    <p *ngIf="subscribeGroup.get('checkedTermsAndConditions')?.errors?.['required']"
                        class="validation-msg" >Please select checkbox</p>
                </div>
              </div>

              <!-- <button class="sm-primary-button" data-bs-toggle="modal" data-bs-target="#successModal"
              disabled>Register</button> -->
              <button class="sm-primary-button" [disabled]="subscribeGroup.invalid"
                (click)="saveSubscription()">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div class="modal" id="successModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">You've successfully subscribed</h4>
        <button type="button" class="btn-close" (click)="hideSuccessModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="my-3 success_text">
          You will receive monthly updates of the Jocata Sumpoorn Index.
        </div>
      </div>
    </div>
  </div>
</div>